.jqf-panel {
  @include background-color;
  @include border;
  @include border-radius-top;
  @include box-sizing;
  @include font;
  color: $color-text;
  display: block;
  padding: 10px;
  margin: 0 10px 10px 0;
  .jqf-bar {
    @extend .jqf-bar;
    margin: -11px -11px 10px -11px;
  }
}
