.jqf-dock {
  bottom:0;
  height:2.5em;
  left:0;
  position:fixed;
  text-align:center;
  z-index:888;
  width:100%;
}
.jqf-dock-frame {
  background-color:rgba(0,0,0,0.75);
  border-radius-top-left:0.5em;
  border-radius-top-right:0.5em;
  	-moz-border-radius-topleft:0.5em;
  	-moz-border-radius-topright:0.5em;
    -webkit-border-top-left-radius:0.5em;
    -webkit-border-top-right-radius:0.5em;
  bottom:0;
  box-shadow:0 0.1em 0.25em Black;
    -moz-box-shadow:0 0.1em 0.25em Black;
    -webkit-box-shadow:0 0.1em 0.25em Black;
  color:White;
  display:-moz-inline-box;/* Firefox 2 */
  display:inline-block;
  height:1.5em;
  padding:0.5em 1em;
}
