.jqf-drawers {
  display:block;
}
.jqf-drawer-handle {
  background:url('../images/gradients.png') 0 -5em repeat-x;
  background:-moz-linear-gradient(top, rgba(255,255,255,0.25), rgba(0,0,0,0.25));
  background:-webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.25)), to(rgba(0,0,0,0.25)));
  background-color:White;
  box-shadow:0 0.1em 0.25em Black;
    -moz-box-shadow:0 0.1em 0.25em Black;
    -webkit-box-shadow:0 0.1em 0.25em Black;
  color:Black;
  cursor:pointer;
  display:block;
  height:2.5em;
  line-height:2.5em;
  padding:0 0.5em;
  position:relative;
  text-align:left;
  text-shadow:White 0 0.1em 0.1em;
  user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
  white-space:nowrap;
}
.jqf-drawer-handle.jqf-active,
.jqf-drawer-handle:active {
  background:White url('../images/gradients.png') 0 -7.5em repeat-x;/* IE and Gecko up to 3.5 */
  background:-moz-linear-gradient(top, rgba(0,0,0,0.25), rgba(255,255,255,0.25));/* Gecko 3.6 */
  background:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.25)), to(rgba(255,255,255,0.25)));/* Webkit */
}
.jqf-drawer-handle.jqf-active {
  background-color:DarkOrange;
  color:White;
  text-shadow:Sienna 0 -0.1em 0.1em;
}
.jqf-drawer-handle .jqf-icon {
  background-position:left -1em;
  margin:0.75em 0;
  vertical-align:top;
}
.jqf-drawer-handle:active .jqf-icon {
  background-position:left -2em;
}
.jqf-drawer-handle.jqf-active .jqf-icon {
  background-position:-1em -2em;
}
.jqf-drawer-handle.jqf-first {
  border-radius-top-left:0.5em;
  border-radius-top-right:0.5em;
  	-moz-border-radius-topleft:0.5em;
  	-moz-border-radius-topright:0.5em;
    -webkit-border-top-left-radius:0.5em;
    -webkit-border-top-right-radius:0.5em;
}
.jqf-drawer-handle.jqf-last {
  border-radius-bottom-left:0.5em;
  border-radius-bottom-right:0.5em;
  	-moz-border-radius-bottomleft:0.5em;
  	-moz-border-radius-bottomright:0.5em;
    -webkit-border-bottom-left-radius:0.5em;
    -webkit-border-bottom-right-radius:0.5em;
}
.jqf-drawer {
  background:#f0f0f0;
  background:rgba(0,0,0,0.05);
  background:-moz-linear-gradient(top, rgba(0,0,0,0.1), rgba(0,0,0,0));
  background:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.1)), to(rgba(0,0,0,0)));
  box-shadow:0 0 0.25em Black;
    -moz-box-shadow:0 0 0.25em Black;
    -webkit-box-shadow:0 0 0.25em Black;
  color:Black;
  display:block;
  margin:0;
  padding:0.5em;
  top:0;
}
.jqf-drawer.jqf-last {
  border-radius-bottom-left:0.5em;
  border-radius-bottom-right:0.5em;
  	-moz-border-radius-bottomleft:0.5em;
  	-moz-border-radius-bottomright:0.5em;
    -webkit-border-bottom-left-radius:0.5em;
    -webkit-border-bottom-right-radius:0.5em;
}
