
// Variables

@background-color: rgb(240,240,240);
@background-color-active: rgb(255,140,0);
@border-color: @background-color * 0.75;
@border-color-active: @background-color-active * 0.75;
@font-family: 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
@font-size: 12px;
@radius: 5px;

// Mixins

.jqf-border {
  border: 1px solid;
}
.jqf-border-radius {
  border-radius: @radius;
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
}
.jqf-border-radius-bottom-left {
  border-radius-bottom-left: @radius;
	-moz-border-radius-bottomleft: @radius;
  -webkit-border-bottom-left-radius: @radius;
}
.jqf-border-radius-bottom-right {
  border-radius-bottom-right: @radius;
	-moz-border-radius-bottomright: @radius;
  -webkit-border-bottom-right-radius: @radius;
}
.jqf-border-radius-top-left {
  border-radius-top-left: @radius;
	-moz-border-radius-topleft: @radius;
  -webkit-border-top-left-radius: @radius;
}
.jqf-border-radius-top-right {
  border-radius-top-right: @radius;
	-moz-border-radius-topright: @radius;
  -webkit-border-top-right-radius: @radius;
}
.jqf-border-radius-bottom {
  .jqf-border-radius-bottom-left;
  .jqf-border-radius-bottom-right;
}
.jqf-border-radius-left {
  .jqf-border-radius-bottom-left;
  .jqf-border-radius-top-left;
}
.jqf-border-radius-right {
  .jqf-border-radius-bottom-right;
  .jqf-border-radius-top-right;
}
.jqf-border-radius-top {
  .jqf-border-radius-top-left;
  .jqf-border-radius-top-right;
}
.jqf-ellipsis {
  overflow:hidden;
  text-overflow:ellipsis;
  -o-text-overflow:ellipsis;
  white-space: nowrap;
}
.jqf-font {
  font-family: @font-family;
  font-size: @font-size;
}
.jqf-gradient-inset {
  background-image:url('../images/gradient-inset.png');
  background-image:-moz-linear-gradient(top, rgba(0,0,0,0.25), rgba(255,255,255,0.25));
  background-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.25)), to(rgba(255,255,255,0.25)));
  background-position: center center;
  background-repeat: repeat-x;
}
.jqf-gradient-outset {
  background-image:url('../images/gradient-outset.png');
  background-image:-moz-linear-gradient(top, rgba(255,255,255,0.25), rgba(0,0,0,0.25));
  background-image:-webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.25)), to(rgba(0,0,0,0.25)));
  background-position: center center;
  background-repeat: repeat-x;
}
.jqf-inline-block {
  display:-moz-inline-box;
  display:inline-block;
  *display:inline;
  zoom:1;
}
.jqf-input {
  @height: 30px;
  .jqf-border;
  .jqf-font;
  .jqf-gradient-outset;
  .jqf-inline-block;
  appearance: none;
  -webkit-appearance: none;
  background-color: @background-color;
  border-color: @border-color;
  color: black;
  cursor: pointer;
  height: @height;
  line-height: @height;
  overflow: visible;
  padding: 0 10px;
  text-align: center;
  text-decoration: none;
  text-shadow: white 0 1px 1px;
  vertical-align: middle;
  white-space: nowrap;
  :active {
    .jqf-gradient-inset;
    background-color: @background-color;
  }
  :focus { outline: 0; }
  :hover {
    color: black;
    text-decoration: none;
  }
  ::-moz-focus-inner {
    border-color:transparent;
    padding:0;
  }
}

// Hide placeholder markup

.jqf {
  display:none;
}

// Button

.jqf-button {
  .jqf-border-radius;
  .jqf-input;
  appearance: none;
  -webkit-appearance: none;
  margin: 0 5px 10px 0;
}
.jqf-active, .jqf-active:active, .jqf-submit, .jqf-submit:active {
  background-color: @background-color-active;
  border-color: @border-color-active;
  color: white;
  text-shadow: sienna 0 -1px 1px;
}
.jqf-active:hover, .jqf-submit:hover {
  color: white;
}

// Tabs

.jqf-tabs {
  font-size: 0;
  white-space: nowrap;
  .jqf-tab {
    .jqf-input;
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
    position:relative;
  }
  .jqf-active, .jqf-active:active {
    .jqf-gradient-inset;
    background-color: @background-color-active;
    border-color: @border-color-active;
    color: white;
    text-shadow: sienna 0 -1px 1px;
  }
  .jqf-active:hover, .jqf-submit:hover {
    color: white;
  }
  .jqf-first {
    .jqf-border-radius-left;
  }
  .jqf-last {
    .jqf-border-radius-right;
  }
}

/* Dock */
.jqf-dock {
  .jqf-font;
  bottom:0;
  height:30px;
  left:0;
  position:fixed;
  text-align:center;
  z-index:888;
  width:100%;
}
.jqf-dock-frame {
  .jqf-border-radius-top;
  .jqf-inline-block;
  background-color:rgba(0,0,0,0.75);
  border: 1px solid @border-color;
  bottom:0;
  color:White;
  height:1.5em;
  padding:0.5em 1em;
}
/* Drawers */
.jqf-drawers {
  .jqf-font;
  display:block;
}
.jqf-drawer-handle {
  @height: 30px;
  .jqf-gradient-outset;
  background-color: @background-color;
  border: 1px solid @border-color;
  color:Black;
  cursor:pointer;
  display:block;
  height: @height;
  line-height: @height;
  padding:0 10px;
  position:relative;
  text-align:left;
  text-shadow:White 0 1px 1px;
  user-select:none;
  -moz-user-select:none;
  -webkit-user-select:none;
  vertical-align:middle;
  white-space:nowrap;
  z-index: 222;
}
.jqf-drawer-handle.jqf-active,
.jqf-drawer-handle:active {
  .jqf-gradient-inset;
  z-index: 111;
}
.jqf-drawer-handle.jqf-active {
  background-color: @background-color-active;
  border-color: @border-color-active;
  color:White;
  text-shadow:Sienna 0 -1px 1px;
}
.jqf-drawer-handle.jqf-first {
  .jqf-border-radius-top;
}
.jqf-drawer-handle.jqf-last {
  .jqf-border-radius-bottom;
}
.jqf-drawer {
  background: white;
  border-left: 1px solid @border-color;
  border-right: 1px solid @border-color;
  color: black;
  display: block;
  padding: 5px;
  top: 0;
}
.jqf-drawer.jqf-last {
  .jqf-border-radius-bottom;
}
/* Filmstrip */
.jqf-filmstrip {
  .jqf-font;
  display:block;
  margin: 10px 0;
  text-align: center;
  white-space: nowrap;
  .jqf-view {
    .jqf-border;
    .jqf-border-radius;
    .jqf-inline-block;
    background-color: @background-color;
    border-color: lightgray;
    margin: 0 5px;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    .jqf-reel {
      font-size: 0;
      left: 0;
      position: absolute;
      top: 0;
      white-space: nowrap;
      .jqf-frame {
        .jqf-border;
        .jqf-border-radius;
        .jqf-inline-block;
        background-color: white;
        border-color: lightgray;
        overflow: hidden;
        padding: 5px;
        margin: 5px 0 5px 5px;
        text-align: left;
        vertical-align: middle;
        white-space: normal;
      }
    }
  }
  .back {
    margin: 0;
    vertical-align: middle;
  }
  .forward {
    margin: 0;
    vertical-align: middle;
  }
}

/* Folders */
.jqf-folders-horizontal, .jqf-folders-vertical {
  .jqf-font;
  display:block;
  margin-top:15px;
  position:relative;
}
.jqf-folders-vertical {
  margin-left:180px;
}
.jqf-folders-tabs {
  display:block;
  position:absolute;
  z-index:666;
}
.jqf-folders-horizontal .jqf-folders-tabs {
  left:0;
  text-align:center;
  top:-15px;
  white-space:nowrap;  
  width:100%;
}
.jqf-folders-vertical .jqf-folders-tabs {
  left:-180px;
  top:15px;
  width:195px;
}
.jqf-folder-tab {
  @height: 30px;
  .jqf-gradient-outset;
  background-color: @background-color;
  border: 1px solid @border-color;
  color:Black;
  cursor:pointer;
  height: @height;
  line-height: @height;
  padding:0 10px;
  text-align:left;
  text-shadow:White 0 1px 1px;
  user-select:none;
  -moz-user-select:none;
  -webkit-user-select:none;
  vertical-align:middle;
  white-space:nowrap;
}
.jqf-folders-horizontal .jqf-folder-tab {
  .jqf-inline-block;
}
.jqf-folders-vertical .jqf-folder-tab {
  display:block;
}
.jqf-folder-tab.jqf-active,
.jqf-folder-tab:active {
  .jqf-gradient-inset;
  background-color: white;
}
.jqf-folder-tab.jqf-active {
  background-color: @background-color-active;
  border-color: @border-color-active;
  color: white;
  text-shadow:Sienna 0 -1px 1px;
}
.jqf-folder-tab.jqf-first {
  .jqf-border-radius-top-left;
}
.jqf-folders-horizontal .jqf-first {
  .jqf-border-radius-bottom-left;
}
.jqf-folders-vertical .jqf-first {
  .jqf-border-radius-top-right;
}
.jqf-folder-tab.jqf-last {
  .jqf-border-radius-bottom-right;
}
.jqf-folders-horizontal .jqf-last {
  .jqf-border-radius-top-right;
}
.jqf-folders-vertical .jqf-last {
  .jqf-border-radius-bottom-left;
}
.jqf-folder {
  .jqf-border-radius;
  background: white;
  border: 1px solid @border-color;
  color: black;
  display:none;
  margin-bottom: 10px;
  min-height: 180px;
  width: inherit;
}
.jqf-folders-horizontal .jqf-folder {
  padding:30px 15px 15px 15px;
}
.jqf-folders-vertical .jqf-folder {
  padding:15px 15px 15px 30px;
}
/* Icons */
.jqf-icon {
  @size: 16px;
  .jqf-inline-block;
  background-image:url('../images/icons.png');
  height: @size;
  overflow:hidden;
  vertical-align:middle;
	width: @size;
}
@background-position-x: 0;
@background-position-y: -16px;
.jqf-icon-up { background-position: @background-position-x 0; }
.jqf-icon-right { background-position: @background-position-x @background-position-y; }
.jqf-icon-down { background-position: @background-position-x (@background-position-y * 2); }
.jqf-icon-left { background-position: @background-position-x (@background-position-y * 3); }
.jqf-icon-drag { background-position: @background-position-x (@background-position-y * 4); }
.jqf-icon-close { background-position: @background-position-x (@background-position-y * 5); }
.jqf-icon-check { background-position: @background-position-x (@background-position-y * 6); }
.jqf-icon-subtract { background-position: @background-position-x (@background-position-y * 7); }
.jqf-icon-add { background-position: @background-position-x (@background-position-y * 8); }
.jqf-icon-search { background-position: @background-position-x (@background-position-y * 9); }
.jqf-icon-warning { background-position: @background-position-x (@background-position-y * 10); }
.jqf-icon-home { background-position: @background-position-x (@background-position-y * 11); }
.jqf-icon-gear { background-position: @background-position-x (@background-position-y * 12); }
.jqf-icon-apple { background-position: @background-position-x (@background-position-y * 13); }
.jqf-icon-heart { background-position: @background-position-x (@background-position-y * 14); }
.jqf-icon-target { background-position: @background-position-x (@background-position-y * 15); }
.jqf-icon-profile { background-position: @background-position-x (@background-position-y * 16); }
.jqf-icon-photo { background-position: @background-position-x (@background-position-y * 17); }
.jqf-icon-print { background-position: @background-position-x (@background-position-y * 18); }
.jqf-icon-radio { background-position: @background-position-x (@background-position-y * 19); }
.jqf-icon-movie { background-position: @background-position-x (@background-position-y * 20); }
.jqf-icon-refresh { background-position: @background-position-x (@background-position-y * 21); }
.jqf-icon-people { background-position: @background-position-x (@background-position-y * 22); }
.jqf-active, .jqf-submit {
  @background-position-x: -16px;
  .jqf-icon-up { background-position: @background-position-x 0; }
  .jqf-icon-right { background-position: @background-position-x @background-position-y; }
  .jqf-icon-down { background-position: @background-position-x (@background-position-y * 2); }
  .jqf-icon-left { background-position: @background-position-x (@background-position-y * 3); }
  .jqf-icon-drag { background-position: @background-position-x (@background-position-y * 4); }
  .jqf-icon-close { background-position: @background-position-x (@background-position-y * 5); }
  .jqf-icon-check { background-position: @background-position-x (@background-position-y * 6); }
  .jqf-icon-subtract { background-position: @background-position-x (@background-position-y * 7); }
  .jqf-icon-add { background-position: @background-position-x (@background-position-y * 8); }
  .jqf-icon-search { background-position: @background-position-x (@background-position-y * 9); }
  .jqf-icon-warning { background-position: @background-position-x (@background-position-y * 10); }
  .jqf-icon-home { background-position: @background-position-x (@background-position-y * 11); }
  .jqf-icon-gear { background-position: @background-position-x (@background-position-y * 12); }
  .jqf-icon-apple { background-position: @background-position-x (@background-position-y * 13); }
  .jqf-icon-heart { background-position: @background-position-x (@background-position-y * 14); }
  .jqf-icon-target { background-position: @background-position-x (@background-position-y * 15); }
  .jqf-icon-profile { background-position: @background-position-x (@background-position-y * 16); }
  .jqf-icon-photo { background-position: @background-position-x (@background-position-y * 17); }
  .jqf-icon-print { background-position: @background-position-x (@background-position-y * 18); }
  .jqf-icon-radio { background-position: @background-position-x (@background-position-y * 19); }
  .jqf-icon-movie { background-position: @background-position-x (@background-position-y * 20); }
  .jqf-icon-people { background-position: @background-position-x (@background-position-y * 22); }
}
/* Menu */
.jqf-menu {
  .jqf-font;
  .jqf-inline-block;
  margin:0 5px 10px 0;
  position:relative;
  vertical-align:middle;
  z-index:666;
}
.jqf-menu-button {
  @height: 30px;
  .jqf-border-radius;
  .jqf-gradient-outset;
  .jqf-inline-block;
  background-color: @background-color;
  border: 1px solid @border-color;
  color: black;
  cursor: pointer;
  height: @height;
  line-height: @height;
  padding: 0 10px;
  text-align: center;
  text-shadow: white 0 1px 1px;
  white-space: nowrap;
}
.jqf-menu-button.jqf-active,
.jqf-menu-button:active {
  .jqf-gradient-inset;
}
.jqf-menu-button:active {
  background-color:White;
}
.jqf-menu-button.jqf-active {
  background-color: @background-color-active;
  border-color: @border-color-active;
  color: white;
  text-shadow: sienna 0 -1px 1px;
}
.jqf-menu-choices {
  .jqf-border-radius;
  background-color: white;
  border: 1px solid @border-color;
  display:none;
  left:0;
	list-style:none;
  top:35px;
  padding:10px 0;
  position:absolute;
  z-index:777;
}
.jqf-menu-choice {
  color: black;
  cursor: pointer;
  line-height: 20px;
  padding: 0 10px;
  text-align: left;
  text-shadow: white 0 1px 1px;
  white-space: nowrap;
}
.jqf-menu-choice:hover {
  .jqf-gradient-outset;
  background-color: @background-color-active;
  border-color: @border-color-active;
  color: white;
  text-shadow: sienna 0 -1px 1px;
}
/* Rating */
.jqf-rating {
  .jqf-inline-block;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  margin: 5px 10px 5px 0;
  text-align: center;
  vertical-align: top;
  white-space: nowrap;
}
.jqf-rating-label {
  margin-bottom: 5px;
  text-shadow: white 0 1px 1px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.jqf-rating-star {
  .jqf-inline-block;
  background-image: url('../images/rating.png');
  cursor: pointer;
  height: 24px;
  width: 18px;
}
.jqf-rating-group {
  background-position: 0 -24px;
}
.jqf-rating-star:active, .jqf-rating-single {
  background-position: 0 -48px;
}
/* Slider */
.jqf-slider {
  .jqf-font;
  .jqf-inline-block;
  margin: 0 10px 10px 0;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
}
.jqf-slider-label {
  margin-bottom: 2px;
  text-align: center;
  text-shadow: white 0 1px 1px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.jqf-slider-bevel {
  .jqf-border-radius;
  .jqf-inline-block;
  background-color: white;
  border: 1px solid @border-color;
  padding: 5px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.jqf-slider-track {
  @radius: 5px;
  .jqf-gradient-inset;
  background-color: @background-color;
  border-radius: @radius;
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
  height:10px;
  margin:5px 0;
  position:relative;
  user-select:none;
  -moz-user-select:none;
  -webkit-user-select:none;
}
.jqf-slider-level {
  @radius: 4px;
  .jqf-gradient-outset;
  background-color: @background-color-active;
  border-color: @border-color-active;
  border-radius: @radius;
	-moz-border-radius: @radius;
	-webkit-border-radius: @radius;
  height: 8px;
  left: 1px;
  position: absolute;
  top: 1px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.jqf-slider-button {
  @radius: 10px;
  .jqf-gradient-outset;
  background-color: @background-color;
  border: 1px solid @border-color;
  border-radius: @radius;
	-moz-border-radius: @radius;
	-webkit-border-radius: @radius;
  cursor:pointer;
  height:20px;
  position:absolute;
  top:-5px;
}
.jqf-slider-button:active {
  .jqf-gradient-inset;
  background-color: @background-color;
  display: block;
}
.jqf-slider-text {
  display: block;
  font-size: 11px;
  text-shadow: white 0 1px 1px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
/* Wait */
.jqf-wait {
  background: rgba(255,255,255,0.5);
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 888;
  width: 100%;
}
.jqf-wait-frame {
  .jqf-border-radius;
  background: url('../images/wait.gif') 1em center no-repeat;
  background-color: rgba(0,0,0,0.75);
  border: 1px solid @border-color;
  color: white;
  display: none;
  padding: 15px 15px 15px 30px;
  position: absolute;
  text-align: center;
  z-index: 999;
}
.jqf-wait-reflection {
  .jqf-border-radius-top;
  background-image: -moz-linear-gradient(top, rgba(0,0,0,0.25), rgba(0,0,0,0));
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.25)), to(rgba(0,0,0,0)));
  height: 30px;
  left: 0;
  position: absolute;
  bottom: -30px;
  width: 100%;
}
/* Window */
.jqf-window {
  background-color: black;
  height: 100%;
  left: 0;
  opacity: 0.75;
  position: fixed;
  top: 0;
  z-index: 888;
  width: 100%;
}
.jqf-window-frame {
  .jqf-border-radius-bottom;
  .jqf-font;
  background-color: white;
  border: 1px solid @border-color;
  color: black;
  display: none;
  max-width: 800px;
  min-height: 180px;
  min-width: 360px;
  position: absolute;
  z-index: 999;
  .jqf-window-handle {
    @height: 30px;
    .jqf-border-radius-top;
    .jqf-gradient-outset;
    background-color: @background-color;
    border: 1px solid @border-color;
    top: -32px;
    color: black;
    cursor: default;
    height: @height;
    left: -1px;
    line-height: @height;
    padding: 0 10px;
    position: absolute;
    right: -1px;
    text-shadow: white 0 1px 1px;
    user-select: none;
    white-space: nowrap;
    -moz-user-select: none;
    -webkit-user-select: none;
    .jqf-window-title {
      .jqf-inline-block;
      margin-right: 20px;
    }
    .jqf-icon-close {
      cursor: pointer;
      margin-left: 5px;
      position:absolute;
      right: 7px;
      top: 7px;
    }
  }
  .jqf-window-content {
    padding: 10px;
  }
  .jqf-window-reflection {
    .jqf-border-radius-top;
    background: -moz-linear-gradient(top, rgba(255,255,255,0.25), rgba(255,255,255,0));
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.25)), to(rgba(255,255,255,0)));
    height: 30px;
  }
}
