.jqf {
  display: none; }

.jqf-button {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #d8d8d8;
  font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  font-size: 12px;
  background-image: url("../images/gradient-outset.png");
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.125));
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(0, 0, 0, 0.125)));
  background-position: bottom center;
  background-repeat: repeat-x;
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  zoom: 1;
  background-color: white;
  -ms-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  color: black;
  cursor: pointer;
  height: 26px;
  line-height: 26px;
  overflow: visible;
  padding: 0 10px;
  text-align: center;
  text-decoration: none;
  text-shadow: white 0 1px 1px;
  vertical-align: middle;
  white-space: nowrap;
  margin: 0 5px 10px 0; }
  .jqf-button:active {
    background-image: url("../images/gradient-inset.png");
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.125), rgba(255, 255, 255, 0.25));
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.125)), to(rgba(255, 255, 255, 0.25)));
    background-position: top center;
    background-repeat: repeat-x; }
  .jqf-button:focus {
    outline: 0; }
  .jqf-button:hover {
    color: black;
    text-decoration: none; }
  .jqf-button::-moz-focus-inner {
    border: 0;
    padding: 0; }

.jqf-drawers {
  font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  font-size: 12px;
  display: block; }

.jqf-drawer-handle {
  border: 1px solid #d8d8d8;
  font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  font-size: 12px;
  background-image: url("../images/gradient-outset.png");
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.125));
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(0, 0, 0, 0.125)));
  background-position: bottom center;
  background-repeat: repeat-x;
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  zoom: 1;
  background-color: white;
  -ms-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  color: black;
  cursor: pointer;
  height: 26px;
  line-height: 26px;
  overflow: visible;
  padding: 0 10px;
  text-align: center;
  text-decoration: none;
  text-shadow: white 0 1px 1px;
  vertical-align: middle;
  white-space: nowrap;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  display: block;
  position: relative;
  text-align: left;
  z-index: 222; }
  .jqf-drawer-handle:active {
    background-image: url("../images/gradient-inset.png");
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.125), rgba(255, 255, 255, 0.25));
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.125)), to(rgba(255, 255, 255, 0.25)));
    background-position: top center;
    background-repeat: repeat-x; }
  .jqf-drawer-handle:focus {
    outline: 0; }
  .jqf-drawer-handle:hover {
    color: black;
    text-decoration: none; }
  .jqf-drawer-handle::-moz-focus-inner {
    border: 0;
    padding: 0; }

.jqf-drawer-handle.jqf-active, .jqf-tabs .jqf-drawer-handle.jqf-tab.jqf-active, .jqf-drawer-handle:active {
  background-image: url("../images/gradient-inset.png");
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.125), rgba(255, 255, 255, 0.25));
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.125)), to(rgba(255, 255, 255, 0.25)));
  background-position: top center;
  background-repeat: repeat-x;
  z-index: 111; }

.jqf-drawer-handle.jqf-first {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-radius-top-left: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-radius-top-right: 5px; }

.jqf-drawer-handle.jqf-last {
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-radius-bottom-left: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-radius-bottom-right: 5px; }

.jqf-drawer {
  border: 1px solid #d8d8d8;
  background: white;
  border-bottom: none;
  border-top: none;
  color: black;
  display: block;
  padding: 5px; }

.jqf-drawer.jqf-last {
  border: 1px solid #d8d8d8;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-radius-bottom-left: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-radius-bottom-right: 5px;
  border-top: none; }

.jqf-filmstrip {
  font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  font-size: 12px;
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin: 10px 0;
  white-space: nowrap; }
  .jqf-filmstrip .jqf-bar {
    border: 1px solid #d8d8d8;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-radius-top-left: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-radius-top-right: 5px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    font-size: 12px;
    background-image: url("../images/gradient-outset.png");
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.125));
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(0, 0, 0, 0.125)));
    background-position: bottom center;
    background-repeat: repeat-x;
    background-color: white;
    color: black;
    display: block;
    line-height: 16px;
    padding: 5px 0;
    position: relative;
    text-align: center;
    text-shadow: white 0 1px 1px;
    vertical-align: middle; }
    .jqf-filmstrip .jqf-bar .jqf-button {
      margin: -1px; }
    .jqf-filmstrip .jqf-bar .back {
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      border-radius: 0;
      -moz-border-radius-topleft: 5px;
      -webkit-border-top-left-radius: 5px;
      border-radius-top-left: 5px;
      left: 0;
      position: absolute;
      top: 0; }
    .jqf-filmstrip .jqf-bar .forward {
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      border-radius: 0;
      -moz-border-radius-topright: 5px;
      -webkit-border-top-right-radius: 5px;
      border-radius-top-right: 5px;
      position: absolute;
      right: 0;
      top: 0; }
  .jqf-filmstrip .jqf-view {
    border: 1px solid #d8d8d8;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-radius-bottom-left: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-radius-bottom-right: 5px;
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    background-color: white;
    border-top: none;
    overflow: hidden;
    position: relative;
    vertical-align: middle; }
    .jqf-filmstrip .jqf-view .jqf-reel {
      display: block;
      font-size: 0;
      left: 0;
      position: absolute;
      top: 0;
      white-space: nowrap; }
      .jqf-filmstrip .jqf-view .jqf-reel .jqf-frame {
        border: 1px solid #d8d8d8;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        background-image: url("../images/gradient-outset.png");
        background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.125));
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(0, 0, 0, 0.125)));
        background-position: bottom center;
        background-repeat: repeat-x;
        display: -moz-inline-box;
        display: inline-block;
        *display: inline;
        zoom: 1;
        font-size: 11px;
        overflow: hidden;
        padding: 5px;
        margin: 5px 0 5px 5px;
        text-align: left;
        vertical-align: middle;
        white-space: normal; }

.jqf-tabs {
  font-size: 0;
  white-space: nowrap; }
  .jqf-tabs .jqf-tab {
    border: 1px solid #d8d8d8;
    font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    font-size: 12px;
    background-image: url("../images/gradient-outset.png");
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.125));
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(0, 0, 0, 0.125)));
    background-position: bottom center;
    background-repeat: repeat-x;
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    background-color: white;
    -ms-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    color: black;
    cursor: pointer;
    height: 26px;
    line-height: 26px;
    overflow: visible;
    padding: 0 10px;
    text-align: center;
    text-decoration: none;
    text-shadow: white 0 1px 1px;
    vertical-align: middle;
    white-space: nowrap;
    margin: 0;
    position: relative; }
    .jqf-tabs .jqf-tab:active {
      background-image: url("../images/gradient-inset.png");
      background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.125), rgba(255, 255, 255, 0.25));
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.125)), to(rgba(255, 255, 255, 0.25)));
      background-position: top center;
      background-repeat: repeat-x; }
    .jqf-tabs .jqf-tab:focus {
      outline: 0; }
    .jqf-tabs .jqf-tab:hover {
      color: black;
      text-decoration: none; }
    .jqf-tabs .jqf-tab::-moz-focus-inner {
      border: 0;
      padding: 0; }
  .jqf-tabs .jqf-first {
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-radius-bottom-left: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-radius-top-left: 5px; }
  .jqf-tabs .jqf-last {
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-radius-bottom-right: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-radius-top-right: 5px; }

.jqf-folders {
  font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  font-size: 12px;
  display: block;
  margin-top: 14px;
  position: relative; }
  .jqf-folders.jqf-horizontal .jqf-tabs {
    display: block;
    position: absolute;
    left: 0;
    text-align: center;
    top: -15px;
    white-space: nowrap;
    width: 100%; }
    .jqf-folders.jqf-horizontal .jqf-tabs .jqf-tab {
      display: -moz-inline-box;
      display: inline-block;
      *display: inline;
      zoom: 1; }
  .jqf-folders.jqf-horizontal .jqf-folder {
    padding: 30px 15px 15px 15px; }
  .jqf-folders.jqf-vertical .jqf-tabs {
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    left: 0;
    position: absolute;
    top: 14px;
    width: 194px; }
    .jqf-folders.jqf-vertical .jqf-tabs .jqf-tab {
      display: block;
      text-align: left; }
      .jqf-folders.jqf-vertical .jqf-tabs .jqf-tab.jqf-first {
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
        -moz-border-radius-topleft: 5px;
        -webkit-border-top-left-radius: 5px;
        border-radius-top-left: 5px;
        -moz-border-radius-topright: 5px;
        -webkit-border-top-right-radius: 5px;
        border-radius-top-right: 5px; }
      .jqf-folders.jqf-vertical .jqf-tabs .jqf-tab.jqf-last {
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
        -moz-border-radius-bottomleft: 5px;
        -webkit-border-bottom-left-radius: 5px;
        border-radius-bottom-left: 5px;
        -moz-border-radius-bottomright: 5px;
        -webkit-border-bottom-right-radius: 5px;
        border-radius-bottom-right: 5px; }
  .jqf-folders.jqf-vertical .jqf-folder {
    margin-left: 180px;
    padding: 15px 15px 15px 30px; }

.jqf-folder {
  border: 1px solid #d8d8d8;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: white;
  color: black;
  display: none;
  margin-bottom: 10px;
  min-height: 180px;
  width: inherit; }

.jqf-icon {
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  zoom: 1;
  background-image: url("../images/icons.png");
  font-size: 0;
  height: 16px;
  overflow: hidden;
  vertical-align: middle;
  width: 16px; }

.jqf-icon-up {
  background-position: 0 0; }

.jqf-icon-right {
  background-position: 0 -16px; }

.jqf-icon-down {
  background-position: 0 -32px; }

.jqf-icon-left {
  background-position: 0 -48px; }

.jqf-icon-drag {
  background-position: 0 -64px; }

.jqf-icon-close {
  background-position: 0 -80px; }

.jqf-icon-check {
  background-position: 0 -96px; }

.jqf-icon-subtract {
  background-position: 0 -112px; }

.jqf-icon-add {
  background-position: 0 -128px; }

.jqf-icon-search {
  background-position: 0 -144px; }

.jqf-icon-warning {
  background-position: 0 -160px; }

.jqf-icon-home {
  background-position: 0 -176px; }

.jqf-icon-gear {
  background-position: 0 -192px; }

.jqf-icon-apple {
  background-position: 0 -208px; }

.jqf-icon-heart {
  background-position: 0 -224px; }

.jqf-icon-target {
  background-position: 0 -240px; }

.jqf-icon-profile {
  background-position: 0 -256px; }

.jqf-icon-photo {
  background-position: 0 -272px; }

.jqf-icon-print {
  background-position: 0 -288px; }

.jqf-icon-radio {
  background-position: 0 -304px; }

.jqf-icon-movie {
  background-position: 0 -320px; }

.jqf-icon-refresh {
  background-position: 0 -336px; }

.jqf-icon-people {
  background-position: 0 -352px; }

.jqf-active .jqf-icon-up, .jqf-tabs .jqf-tab.jqf-active .jqf-icon-up, .jqf-submit .jqf-icon-up, .jqf-menu .jqf-menu-choices .jqf-menu-choice:hover .jqf-icon-up {
  background-position: -16px 0; }
.jqf-active .jqf-icon-right, .jqf-tabs .jqf-tab.jqf-active .jqf-icon-right, .jqf-submit .jqf-icon-right, .jqf-menu .jqf-menu-choices .jqf-menu-choice:hover .jqf-icon-right {
  background-position: -16px -16px; }
.jqf-active .jqf-icon-down, .jqf-tabs .jqf-tab.jqf-active .jqf-icon-down, .jqf-submit .jqf-icon-down, .jqf-menu .jqf-menu-choices .jqf-menu-choice:hover .jqf-icon-down {
  background-position: -16px -32px; }
.jqf-active .jqf-icon-left, .jqf-tabs .jqf-tab.jqf-active .jqf-icon-left, .jqf-submit .jqf-icon-left, .jqf-menu .jqf-menu-choices .jqf-menu-choice:hover .jqf-icon-left {
  background-position: -16px -48px; }
.jqf-active .jqf-icon-drag, .jqf-tabs .jqf-tab.jqf-active .jqf-icon-drag, .jqf-submit .jqf-icon-drag, .jqf-menu .jqf-menu-choices .jqf-menu-choice:hover .jqf-icon-drag {
  background-position: -16px -64px; }
.jqf-active .jqf-icon-close, .jqf-tabs .jqf-tab.jqf-active .jqf-icon-close, .jqf-submit .jqf-icon-close, .jqf-menu .jqf-menu-choices .jqf-menu-choice:hover .jqf-icon-close {
  background-position: -16px -80px; }
.jqf-active .jqf-icon-check, .jqf-tabs .jqf-tab.jqf-active .jqf-icon-check, .jqf-submit .jqf-icon-check, .jqf-menu .jqf-menu-choices .jqf-menu-choice:hover .jqf-icon-check {
  background-position: -16px -96px; }
.jqf-active .jqf-icon-subtract, .jqf-tabs .jqf-tab.jqf-active .jqf-icon-subtract, .jqf-submit .jqf-icon-subtract, .jqf-menu .jqf-menu-choices .jqf-menu-choice:hover .jqf-icon-subtract {
  background-position: -16px -112px; }
.jqf-active .jqf-icon-add, .jqf-tabs .jqf-tab.jqf-active .jqf-icon-add, .jqf-submit .jqf-icon-add, .jqf-menu .jqf-menu-choices .jqf-menu-choice:hover .jqf-icon-add {
  background-position: -16px -128px; }
.jqf-active .jqf-icon-search, .jqf-tabs .jqf-tab.jqf-active .jqf-icon-search, .jqf-submit .jqf-icon-search, .jqf-menu .jqf-menu-choices .jqf-menu-choice:hover .jqf-icon-search {
  background-position: -16px -144px; }
.jqf-active .jqf-icon-warning, .jqf-tabs .jqf-tab.jqf-active .jqf-icon-warning, .jqf-submit .jqf-icon-warning, .jqf-menu .jqf-menu-choices .jqf-menu-choice:hover .jqf-icon-warning {
  background-position: -16px -160px; }
.jqf-active .jqf-icon-home, .jqf-tabs .jqf-tab.jqf-active .jqf-icon-home, .jqf-submit .jqf-icon-home, .jqf-menu .jqf-menu-choices .jqf-menu-choice:hover .jqf-icon-home {
  background-position: -16px -176px; }
.jqf-active .jqf-icon-gear, .jqf-tabs .jqf-tab.jqf-active .jqf-icon-gear, .jqf-submit .jqf-icon-gear, .jqf-menu .jqf-menu-choices .jqf-menu-choice:hover .jqf-icon-gear {
  background-position: -16px -192px; }
.jqf-active .jqf-icon-apple, .jqf-tabs .jqf-tab.jqf-active .jqf-icon-apple, .jqf-submit .jqf-icon-apple, .jqf-menu .jqf-menu-choices .jqf-menu-choice:hover .jqf-icon-apple {
  background-position: -16px -208px; }
.jqf-active .jqf-icon-heart, .jqf-tabs .jqf-tab.jqf-active .jqf-icon-heart, .jqf-submit .jqf-icon-heart, .jqf-menu .jqf-menu-choices .jqf-menu-choice:hover .jqf-icon-heart {
  background-position: -16px -224px; }
.jqf-active .jqf-icon-target, .jqf-tabs .jqf-tab.jqf-active .jqf-icon-target, .jqf-submit .jqf-icon-target, .jqf-menu .jqf-menu-choices .jqf-menu-choice:hover .jqf-icon-target {
  background-position: -16px -240px; }
.jqf-active .jqf-icon-profile, .jqf-tabs .jqf-tab.jqf-active .jqf-icon-profile, .jqf-submit .jqf-icon-profile, .jqf-menu .jqf-menu-choices .jqf-menu-choice:hover .jqf-icon-profile {
  background-position: -16px -256px; }
.jqf-active .jqf-icon-photo, .jqf-tabs .jqf-tab.jqf-active .jqf-icon-photo, .jqf-submit .jqf-icon-photo, .jqf-menu .jqf-menu-choices .jqf-menu-choice:hover .jqf-icon-photo {
  background-position: -16px -272px; }
.jqf-active .jqf-icon-print, .jqf-tabs .jqf-tab.jqf-active .jqf-icon-print, .jqf-submit .jqf-icon-print, .jqf-menu .jqf-menu-choices .jqf-menu-choice:hover .jqf-icon-print {
  background-position: -16px -288px; }
.jqf-active .jqf-icon-radio, .jqf-tabs .jqf-tab.jqf-active .jqf-icon-radio, .jqf-submit .jqf-icon-radio, .jqf-menu .jqf-menu-choices .jqf-menu-choice:hover .jqf-icon-radio {
  background-position: -16px -304px; }
.jqf-active .jqf-icon-movie, .jqf-tabs .jqf-tab.jqf-active .jqf-icon-movie, .jqf-submit .jqf-icon-movie, .jqf-menu .jqf-menu-choices .jqf-menu-choice:hover .jqf-icon-movie {
  background-position: -16px -320px; }
.jqf-active .jqf-icon-people, .jqf-tabs .jqf-tab.jqf-active .jqf-icon-people, .jqf-submit .jqf-icon-people, .jqf-menu .jqf-menu-choices .jqf-menu-choice:hover .jqf-icon-people {
  background-position: -16px -352px; }

.jqf-menu {
  font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  font-size: 12px;
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin: 0 5px 10px 0;
  position: relative;
  vertical-align: middle;
  z-index: 666; }
  .jqf-menu .jqf-button {
    margin: 0; }
  .jqf-menu .jqf-menu-choices {
    border: 1px solid #d8d8d8;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
    background-color: white;
    display: none;
    left: 0;
    list-style: none;
    top: 30px;
    position: absolute;
    z-index: 777; }
    .jqf-menu .jqf-menu-choices .jqf-menu-choice {
      border: 1px solid #d8d8d8;
      font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
      font-size: 12px;
      background-image: url("../images/gradient-outset.png");
      background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.125));
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(0, 0, 0, 0.125)));
      background-position: bottom center;
      background-repeat: repeat-x;
      display: -moz-inline-box;
      display: inline-block;
      *display: inline;
      zoom: 1;
      background-color: white;
      -ms-box-sizing: content-box;
      -moz-box-sizing: content-box;
      -webkit-box-sizing: content-box;
      box-sizing: content-box;
      color: black;
      cursor: pointer;
      height: 26px;
      line-height: 26px;
      overflow: visible;
      padding: 0 10px;
      text-align: center;
      text-decoration: none;
      text-shadow: white 0 1px 1px;
      vertical-align: middle;
      white-space: nowrap;
      background: none;
      border-color: white;
      display: block;
      text-align: left; }
      .jqf-menu .jqf-menu-choices .jqf-menu-choice:active {
        background-image: url("../images/gradient-inset.png");
        background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.125), rgba(255, 255, 255, 0.25));
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.125)), to(rgba(255, 255, 255, 0.25)));
        background-position: top center;
        background-repeat: repeat-x; }
      .jqf-menu .jqf-menu-choices .jqf-menu-choice:focus {
        outline: 0; }
      .jqf-menu .jqf-menu-choices .jqf-menu-choice:hover {
        color: black;
        text-decoration: none; }
      .jqf-menu .jqf-menu-choices .jqf-menu-choice::-moz-focus-inner {
        border: 0;
        padding: 0; }
      .jqf-menu .jqf-menu-choices .jqf-menu-choice:first-child {
        -moz-border-radius-topleft: 5px;
        -webkit-border-top-left-radius: 5px;
        border-radius-top-left: 5px;
        -moz-border-radius-topright: 5px;
        -webkit-border-top-right-radius: 5px;
        border-radius-top-right: 5px; }
      .jqf-menu .jqf-menu-choices .jqf-menu-choice:hover {
        background-image: url("../images/gradient-outset.png");
        background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.125));
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(0, 0, 0, 0.125)));
        background-position: bottom center;
        background-repeat: repeat-x; }
      .jqf-menu .jqf-menu-choices .jqf-menu-choice:last-child {
        -moz-border-radius-bottomleft: 5px;
        -webkit-border-bottom-left-radius: 5px;
        border-radius-bottom-left: 5px;
        -moz-border-radius-bottomright: 5px;
        -webkit-border-bottom-right-radius: 5px;
        border-radius-bottom-right: 5px; }

.jqf-rating {
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  zoom: 1;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  margin: 5px 10px 5px 0;
  text-align: center;
  vertical-align: top;
  white-space: nowrap; }

.jqf-rating-label {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  margin-bottom: 5px;
  text-shadow: white 0 1px 1px; }

.jqf-rating-star {
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  zoom: 1;
  background-image: url("../images/rating.png");
  cursor: pointer;
  height: 24px;
  width: 18px; }

.jqf-rating-group {
  background-position: 0 -24px; }

.jqf-rating-star:active, .jqf-rating-single {
  background-position: 0 -48px; }

.jqf-slider {
  font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  font-size: 12px;
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  zoom: 1;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  margin: 0 10px 10px 0;
  vertical-align: top; }
  .jqf-slider .jqf-slider-label {
    display: block;
    margin-bottom: 2px;
    text-align: center; }
  .jqf-slider .jqf-bevel {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    background-color: white;
    display: block;
    border: 1px solid lightgray;
    padding: 5px; }
    .jqf-slider .jqf-bevel .jqf-track {
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      background-image: url("../images/gradient-inset.png");
      background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.125), rgba(255, 255, 255, 0.25));
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.125)), to(rgba(255, 255, 255, 0.25)));
      background-position: top center;
      background-repeat: repeat-x;
      -moz-user-select: none;
      -webkit-user-select: none;
      user-select: none;
      background-color: white;
      display: block;
      height: 10px;
      margin: 5px 0;
      position: relative; }
      .jqf-slider .jqf-bevel .jqf-track .jqf-level {
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        background-image: url("../images/gradient-outset.png");
        background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.125));
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(0, 0, 0, 0.125)));
        background-position: bottom center;
        background-repeat: repeat-x;
        -moz-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        background-color: #ff9900;
        display: block;
        height: 8px;
        left: 1px;
        position: absolute;
        top: 1px; }
      .jqf-slider .jqf-bevel .jqf-track .jqf-button {
        height: 18px;
        margin: 0;
        padding: 0;
        position: absolute;
        top: -5px; }
    .jqf-slider .jqf-bevel .jqf-text {
      overflow: hidden;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      white-space: nowrap;
      -moz-user-select: none;
      -webkit-user-select: none;
      user-select: none;
      display: block;
      font-size: 11px; }

.jqf-wait {
  background: rgba(255, 255, 255, 0.5);
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 888;
  width: 100%; }

.jqf-wait-frame {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: url("../images/wait.gif") 10px center no-repeat;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  display: none;
  padding: 15px 15px 15px 30px;
  position: absolute;
  text-align: center;
  z-index: 999; }

.jqf-wait-reflection {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-radius-top-left: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-radius-top-right: 5px;
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.25)), to(rgba(0, 0, 0, 0)));
  height: 30px;
  left: 0;
  position: absolute;
  bottom: -30px;
  width: 100%; }

.jqf-window {
  background-color: black;
  height: 100%;
  left: 0;
  opacity: 0.75;
  position: fixed;
  top: 0;
  z-index: 888;
  width: 100%; }

.jqf-window-frame {
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-radius-bottom-left: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-radius-bottom-right: 5px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  font-size: 12px;
  background-color: white;
  color: black;
  display: none;
  max-width: 800px;
  min-height: 180px;
  min-width: 360px;
  position: absolute;
  z-index: 999; }
  .jqf-window-frame .jqf-window-handle {
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-radius-top-left: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-radius-top-right: 5px;
    border: 1px solid #d8d8d8;
    font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    font-size: 12px;
    background-image: url("../images/gradient-outset.png");
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.125));
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(0, 0, 0, 0.125)));
    background-position: bottom center;
    background-repeat: repeat-x;
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    background-color: white;
    -ms-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    color: black;
    cursor: pointer;
    height: 26px;
    line-height: 26px;
    overflow: visible;
    padding: 0 10px;
    text-align: center;
    text-decoration: none;
    text-shadow: white 0 1px 1px;
    vertical-align: middle;
    white-space: nowrap;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    left: 0;
    position: absolute;
    right: 0;
    top: -28px; }
    .jqf-window-frame .jqf-window-handle:active {
      background-image: url("../images/gradient-inset.png");
      background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.125), rgba(255, 255, 255, 0.25));
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.125)), to(rgba(255, 255, 255, 0.25)));
      background-position: top center;
      background-repeat: repeat-x; }
    .jqf-window-frame .jqf-window-handle:focus {
      outline: 0; }
    .jqf-window-frame .jqf-window-handle:hover {
      color: black;
      text-decoration: none; }
    .jqf-window-frame .jqf-window-handle::-moz-focus-inner {
      border: 0;
      padding: 0; }
    .jqf-window-frame .jqf-window-handle .jqf-window-title {
      display: -moz-inline-box;
      display: inline-block;
      *display: inline;
      zoom: 1;
      margin-right: 20px; }
    .jqf-window-frame .jqf-window-handle .jqf-icon-close {
      cursor: pointer;
      margin-left: 5px;
      position: absolute;
      right: 10px;
      top: 5px; }
  .jqf-window-frame .jqf-window-content {
    padding: 10px; }
  .jqf-window-frame .jqf-window-reflection {
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-radius-top-left: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-radius-top-right: 5px;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0));
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0)));
    height: 30px; }

.jqf-active, .jqf-tabs .jqf-tab.jqf-active {
  border: 1px solid #d88200;
  background-image: url("../images/gradient-inset.png");
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.125), rgba(255, 255, 255, 0.25));
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.125)), to(rgba(255, 255, 255, 0.25)));
  background-position: top center;
  background-repeat: repeat-x;
  background-color: #ff9900;
  color: white;
  text-shadow: #7f4c00 0 -1px 1px; }
  .jqf-active:hover, .jqf-tabs .jqf-tab.jqf-active:hover {
    color: white; }

.jqf-submit, .jqf-menu .jqf-menu-choices .jqf-menu-choice:hover {
  border: 1px solid #d88200;
  background-color: #ff9900;
  color: white;
  text-shadow: #7f4c00 0 -1px 1px; }
  .jqf-submit:hover, .jqf-menu .jqf-menu-choices .jqf-menu-choice:hover {
    color: white; }
