.jqf-menu {
  display:-moz-inline-box;/* Firefox 2 */
  display:inline-block;
  position:relative;
}
.jqf-menu-button {
  background:url('../images/gradients.png') 0 -1em repeat-x;
  background:-moz-linear-gradient(top, rgba(255,255,255,0.25), rgba(0,0,0,0.25));
  background:-webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.25)), to(rgba(0,0,0,0.25)));
  background-color:White;
  border-radius:0.5em;
    -moz-border-radius:0.5em;
    -webkit-border-radius:0.5em;
  box-shadow:0 0.1em 0.25em Black;
    -moz-box-shadow:0 0.1em 0.25em Black;
    -webkit-box-shadow:0 0.1em 0.25em Black;
  color:Black;
  cursor:pointer;
  height:2em;
  line-height:2em;
  padding:0 0.5em;
  text-align:center;
  text-shadow:White 0 1px 1px;
  white-space:nowrap;
}
.jqf-menu-button.jqf-active,
.jqf-menu-button:active {
  background:url('../images/gradients.png') 0 -3em repeat-x;/* IE and Gecko up to 3.5 */
  background:-moz-linear-gradient(top, rgba(0,0,0,0.25), rgba(255,255,255,0.25));
  background:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.25)), to(rgba(255,255,255,0.25)));
}
.jqf-menu-button:active {
  background-color:White;
}
.jqf-menu-button.jqf-active {
  background-color:DarkOrange;
  color:White;
  text-shadow:Sienna 0 -1px 1px;
}
.jqf-menu-button .jqf-icon {
  margin:0.5em 0;
  vertical-align:top;
}
.jqf-menu-choices {
  background-color:White;
  border-radius:0.5em;
    -moz-border-radius:0.5em;
    -webkit-border-radius:0.5em;
  box-shadow:0 0.1em 0.25em Black;
    -moz-box-shadow:0 0.1em 0.25em Black;
    -webkit-box-shadow:0 0.1em 0.25em Black;
  display:none;
  left:0;
	list-style:none;
  margin-top:0.5em;
  padding:0.5em 0;
  position:absolute;
  z-index:777;
}
.jqf-menu-choice {
  color:Black;
  cursor:pointer;
  line-height:2em;
  padding:0 1em;
  text-align:left;
  text-shadow:White 0 0.1em 0.1em;
  white-space:nowrap;
}
.jqf-menu-choice:hover {
  background:url('../images/gradients.png') 0 -1em repeat-x;
  background:-moz-linear-gradient(top, rgba(255,255,255,0.25), rgba(0,0,0,0.25));
  background:-webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.25)), to(rgba(0,0,0,0.25)));
  background-color:DarkOrange;
  color:White;
  text-shadow:Sienna 0 -0.1em 0.1em;
}
