.jqf-window {
  background-color:rgba(0,0,0,0.75);
  height:100%;
  left:0;
  position:fixed;
  top:0;
  z-index:888;
  width:100%;
}
.jqf-window-frame {
  border-radius:0.5em;
    -moz-border-radius:0.5em;
    -webkit-border-radius:0.5em;
  display:none;
  position:absolute;
  z-index:999;
}
.jqf-window-reflection {
  background:rgba(255,255,255,0.125);
  background:-moz-linear-gradient(top, rgba(255,255,255,0.25), rgba(255,255,255,0));
  background:-webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.25)), to(rgba(255,255,255,0)));
  border-radius-top-left:0.5em;
  border-radius-top-right:0.5em;
    -moz-border-radius-topleft:0.5em;
    -moz-border-radius-topright:0.5em;
    -webkit-border-top-left-radius:0.5em;
    -webkit-border-top-right-radius:0.5em;
  height:2em;
  left:0;
  position:absolute;
  bottom:-2em;
  width:100%;
}
.jqf-window-handle {
  background:url('../images/gradients.png') 0 -1em repeat-x;
  background:-moz-linear-gradient(top, rgba(255,255,255,0.25), rgba(0,0,0,0.25));
  background:-webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.25)), to(rgba(0,0,0,0.25)));
  background-color:White;
  border-radius-top-left:0.5em;
  border-radius-top-right:0.5em;
    -moz-border-radius-topleft:0.5em;
    -moz-border-radius-topright:0.5em;
    -webkit-border-top-left-radius:0.5em;
    -webkit-border-top-right-radius:0.5em;
  box-shadow:0 0.1em 0.25em Black;
    -moz-box-shadow:0 0.1em 0.25em Black;
    -webkit-box-shadow:0 0.1em 0.25em Black;
  color:Black;
  cursor:default;
  height:2em;
  line-height:2em;
  padding:0 3em 0 1em;
  position:relative;
  text-shadow:White 0 0.1em 0.1em;
  user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
}
.jqf-window-content {
  background:White;
  background:rgba(255,255,255,0.75);
  background:-moz-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0.75));
  background:-webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,1)), to(rgba(255,255,255,0.75)));
  border-radius-bottom-left:5px;
  border-radius-bottom-right:5px;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-bottom-left-radius:5px;
    -webkit-border-bottom-right-radius:5px;
  box-shadow:0 0.1em 0.25em Black;
    -moz-box-shadow:0 0.1em 0.25em Black;
    -webkit-box-shadow:0 0.1em 0.25em Black;
  color:Black;
  overflow:auto;
  padding:1em;
}
.jqf-window-close {
  cursor:pointer;
}
.jqf-window-handle .jqf-icon {
  background-position:-2em -5em;
  position:absolute;
  right:1em;
  top:0.5em;
}
.jqf-window-content .ui-resizable-handle {
  background-position:-2em -4em;
  bottom:0;
  cursor:pointer;
  position:absolute;
  right:0;
}
