@import 'variables';

$color-active: #f90;

@import 'mixins';

.jqf {
  display: none;
}

@import 'modules/button';
@import 'modules/drawers';
@import 'modules/filmstrip';
@import 'modules/folders';
@import 'modules/icons';
@import 'modules/menu';
@import 'modules/rating';
@import 'modules/slider';
@import 'modules/tabs';
@import 'modules/wait';
@import 'modules/window';

.jqf-active {
  @include border($color-active);
  @include gradient-inset;
  background-color: $color-active;
  color: $color-text-active;
  text-shadow: $text-shadow-active;
  &:hover {
    color: $color-text-active;
  }
}

.jqf-submit {
  @include border($color-active);
  background-color: $color-active;
  color: $color-text-active;
  text-shadow: $text-shadow-active;
  &:hover {
    color: $color-text-active;
  }
}
