body {
  font: 12px sans-serif;
  margin: 1em auto;
  padding: 0 1em;
  max-width: 800px;
  min-width: 360px;
}

h2 {
  margin-top: 1em;
}

p {
  margin: 1em 0;
}

span.link {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}
