body {
  margin: 1em auto;
  min-width: 360px;
  max-width: 1024px;
}

h2 {
  margin-top: 1em;
}

p {
  margin: 1em 0;
}

span.link {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}
