@import 'nib/gradients';

$background-color = rgb(238, 238, 238);
$border-color = rgb(153, 153, 153);
$border-radius = 4px;
$color = rgb(0, 0, 0);
$font-size = 12px;

background-image-gradient() {
  background-image: linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.1) 100%);
}

background-image-gradient-inverted() {
  background-image: linear-gradient(top, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.1) 100%);
}
