## Mac OS
.DS_Store

## RubyMine, IDEA, etc.
.idea

## MacVim, GVim, Vim
*.swp

## Emacs
*~
\#*
.\#*

# Textmate
*.tmproj
tmtags

### Project::General
*.gem
coverage
rdoc
pkg

## Project::Specific
.sass-cache/
