/*
  Copyright 2010 Jamie Hoover
*/

.ninjaButton,
.ninjaSliderButton,
.ninjaTab {
  background-color: #333;
  border-color: #000;
  color: #fff;
}

.ninjaDrawerTray {
  background-color: #fff;
  border-color: #bbb;
  border-bottom-color: #ddd;
  border-top-color: #888;
  color: #333
}

.ninjaEditable {
  background-color: #fff;
  border-color: #bbb;
  border-bottom-color: #ddd;
  border-top-color: #888;
  color: #333
}

.ninjaListChoice.ninjaHovered {
  background-color: #ddd;
  border-color: #666;
  color: #333;
}

.ninjaPopup {
  background-color: #fff;
  color: #333;
}

.ninjaPopupButton {
  background-color: #fff;
  color: #000;
  color: rgba(0,0,0,0.9);
}

.ninjaPopupStem {
  color: #fff;
}

.ninjaSliderGroove {
  background-color: #000;
  border-color: #000;
}

.ninjaSliderLevel {
  background-color: #f00;
  border-color: #600;
}

.ninjaSpinner {
  color: #666;
}

.ninjaSpinner * {
  color: #fff;
}

.ninjaPopup .ninjaSpinner {
  color: #999;
}

.ninjaPopup .ninjaSpinner * {
  color: #333;
}

.ninjaStar {
  color: #666;
}

.ninjaStar.ninjaStarAverage {
  color: #39c;
}

.ninjaStar.ninjaStarUser {
  color: #c00;
}

.ninjaSuggest .ninjaSymbol {
  color: #999;
}

.ninjaTab {
  border-left-color: transparent;
}

.ninjaTabFirst {
  border-left-color: #000;
}

/* State changes, keep these last and in order! */

.ninjaSelected {
  background-color: #c00;
  border-color: #900;
  color: #fff;
}

.ninjaHovered {
  border-color: #900;
}
