/*
  Copyright 2010 Jamie Hoover
*/

.ninjaButton,
.ninjaSliderButton,
.ninjaTab {
  background-color: #ddd;
  border-color: #aaa;
  color: #333;
}

.ninjaDrawerTray {
  background-color: #fff;
  border-color: #bbb;
  border-bottom-color: #ddd;
  border-top-color: #888;
  color: #333
}

.ninjaEditable {
  background-color: #fff;
  border-color: #bbb;
  border-bottom-color: #ddd;
  border-top-color: #888;
  color: #333
}

.ninjaListChoice.ninjaHovered {
  background-color: #ddd;
  border-color: #666;
  color: #333;
}

.ninjaPopup {
  background-color: #000;
  background-color: rgba(0,0,0,0.9);
  border-color: #999;
  color: #ccc;
}

.ninjaPopupButton {
  background-color: #000;
  background-color: rgba(0,0,0,0.9);
  border-color: #aaa;
  color: #ccc;
}

.ninjaPopupStem {
  color: #999;
}

.ninjaSliderGroove {
  background-color: #999;
  border-color: #666;
}

.ninjaSliderLevel {
  background-color: #ddd;
  border-color: #aaa;
}

.ninjaPopup .ninjaSpinner {
  color: #333;
  color: rgba(255,255,255,0.4);
}

.ninjaPopup .ninjaSpinnerFrame {
  color: #ccc;
  color: rgba(255,255,255,0.8);
}

.ninjaSpinner {
  color: #ccc;
  color: rgba(0,0,0,0.2);
}

.ninjaSpinner * {
  color: #000;
  color: rgba(0,0,0,0.8);
}

.ninjaStar {
  color: #ccc;
}

.ninjaStar.ninjaStarAverage {
  color: #900;
}

.ninjaStar.ninjaStarUser {
  color: #9c0;
}

.ninjaSuggest .ninjaIcon {
  color: #999;
}

.ninjaTab {
  border-left-color: transparent;
}

.ninjaTabFirst {
  border-left-color: #aaa;
}

/* State changes, keep these last and in order! */

.ninjaSelected {
  background-color: #999;
  border-color: #888;
  color: #fff
}

.ninjaHovered {
  border-color: #888;
}

.ninjaDisabled {
  background-color: #fff;
  background-color: rgba(255,255,255,0.5);
}
