/*
  Copyright 2010-2011 Jamie Hoover
*/

@font-face {
  font-family: 'Ninja Spinner';
  src: url('fonts/ninja-spinner-webfont.eot');
  src: url('fonts/ninja-spinner-webfont.eot?iefix') format('eot'),
    url('fonts/ninja-spinner-webfont.woff') format('woff'),
    url('fonts/ninja-spinner-webfont.ttf') format('truetype'),
    url('fonts/ninja-spinner-webfont.svg#webfont2iyAOIKa') format('svg');
  font-style: normal;
  font-weight: normal;
}

.ninjaSpinner {
  font-family: 'Ninja Spinner';
  position: relative;
}

.ninjaSpinner * {
  left: 0;
  position: absolute;
  top: 0;
}

.ninjaSpinner:before {
  content: '!';
}

.ninjaSpinner1:before {
  content: '"';
}

.ninjaSpinner2:before {
  content: '#';
}

.ninjaSpinner3:before {
  content: '$';
}

.ninjaSpinner4:before {
  content: '%';
}

.ninjaSpinner5:before {
  content: '&';
}

.ninjaSpinner6:before {
  content: "'";
}

.ninjaSpinner7:before {
  content: '(';
}

.ninjaSpinner8:before {
  content: ')';
}

.ninjaSpinner9:before {
  content: '*';
}

.ninjaSpinner10:before {
  content: '+';
}

.ninjaSpinner11:before {
  content: ',';
}

.ninjaSpinner12:before {
  content: '-';
}
