/*
  Copyright 2010 Jamie Hoover
*/

.ninja {
  background: transparent;
  border: 0;
  line-height: 1.231;
  margin: 0;
  outline: 0;
  padding: 0;
  position: relative;
}

.ninjaBorder {
  border: 1px solid transparent;
}

.ninjaInline {
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.ninjaShadow {
  -ms-box-shadow: 0 0.2em 0.3em #000;
  -moz-box-shadow: 0 0.2em 0.3em #000;
  -webkit-box-shadow: 0 0.2em 0.3em #000;
  box-shadow: 0 0.2em 0.3em #000;
}

/* Button */

.ninjaButton {
  cursor: default;
  padding: 0.125em 0.5em;
  text-align: center;
  white-space: nowrap;
}

.ninjaButton .ninjaSymbol {
  line-height: 0.4em;
  position: relative;
  top: -0.4em;
}

/* Drawer */

.ninjaDrawerHandle {
  display: block;
  text-align: left;
}

.ninjaDrawerHandle .ninjaSymbol {
  line-height: 0.4em;
  position: relative;
  top: -0.4em;
}

.ninjaDrawerTray {
  padding: 0.5em;
}

/* Error */

.ninjaError {
  color: #f00;
}

/* List */

.ninjaList {
  margin: 0 -0.6em;
}

.ninjaListChoice {
  border: 1px 0 solid transparent;
  cursor: default;
  height: 1.6em;
  line-height: 1.6em;
  padding: 0 1em;
  white-space: nowrap;
}

.ninjaListSpacer {
  padding: 0 1em;
  white-space: nowrap;
}

/* Pop-Up */

.ninjaPopup {
  border-width: 0.2em;
  margin: 1em 0.5em 0.5em 0;
  padding: 0.6em;
  position: absolute;
  z-index: +1;
}

.ninjaPopupButton {
  cursor: pointer;
  font-size: 1.2em;
  height: 1.2em;
  line-height: 1.2em;
  position: absolute;
  right: -0.6em;
  text-align: center;
  top: -0.6em;
  width: 1.2em;
}

.ninjaPopupStem {
  cursor: default;
  margin-left: -0.5em;
  position: absolute;
  top: -1em;
}

/* Rating */

.ninjaStar {
  text-shadow: 0 0.1em 0.1em rgba(0,0,0,0.3);
}

/* Slider */

.ninjaSliderGroove {
  cursor: pointer;
  height: 0.3em;
  margin: 0 0.6em;
  top: 0.45em;
}

.ninjaSliderLevel {
  height: 0.3em;
  margin: 0 0.6em;
  position: absolute;
  top: 0.45em;
}

.ninjaSliderButton {
  cursor: pointer;
  height: 1.2em;
  position: absolute;
  top: 0;
  width: 1.2em;
}

.ninjaSliderChoice {
  font-size: 0.85em;
}

.ninjaSliderTitle {
  font-size: 0.85em;
  font-weight: bold;
}

.ninjaSliderTrack {
  height: 1.2em;
}

/* Suggest */

.ninjaSuggest {
  padding: 0.2em;
  white-space: nowrap;
}

.ninjaSuggest * {
  font-size: inherit;
  margin: 0 0.2em;
}

.ninjaSuggest .ninjaSymbol {
  line-height: 0.4em;
  position: relative;
  top: -0.4em;
}

.ninjaSuggest input {
  width: 90%;
}

.ninjaSuggestClear {
  visibility: hidden;
}

/* Tab */

.ninjaTab {
  cursor: default;
  padding: 0.125em 0.5em;
  text-align: center;
  white-space: nowrap;
}

.ninjaTab .ninjaSymbol {
  line-height: 0.4em;
  position: relative;
  top: -0.4em;
}

/* Hovered */

.ninjaHovered {
  cursor: pointer;
}

/* Disabled */

.ninjaDisabled {
  cursor: default;
  height: 104%;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 104%;
}
