.nui-grd {
  margin: 0 auto;
  max-width: 1024px;
  min-width: 320px;
}
.nui-grd-auto,
.nui-grd-1-half,
.nui-grd-1-quarter,
.nui-grd-1-third,
.nui-grd-3-quarters,
.nui-grd-2-thirds {
  display: inline-block;
  vertical-align: top;
}
.nui-grd-1-half {
  width: 50%;
}
.nui-grd-1-quarter {
  width: 25%;
}
.nui-grd-1-third {
  width: 33.33%;
}
.nui-grd-3-quarters {
  width: 75%;
}
.nui-grd-2-thirds {
  width: 66.66%;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .nui-grd-1-half,
  .nui-grd-1-quarter,
  .nui-grd-1-third,
  .nui-grd-3-quarters,
  .nui-grd-2-thirds {
    width: 50%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .nui-grd-1-half,
  .nui-grd-1-quarter,
  .nui-grd-1-third,
  .nui-grd-3-quarters,
  .nui-grd-2-thirds {
    display: block;
    width: auto;
  }
}
