.grid {
  padding-left: 3%;
}
.grid-one-half,
.grid-one-quarter,
.grid-one-third,
.grid-three-quarters,
.grid-two-thirds {
  display: inline-block;
  margin: 0 3% 1em 0;
  vertical-align: top;
}
.grid-one-half {
  width: 45%;
}
.grid-one-quarter {
  width: 21%;
}
.grid-one-third {
  width: 29%;
}
.grid-three-quarters {
  width: 72%;
}
.grid-two-thirds {
  width: 64%;
}
/* Mobile */
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .grid-one-half,
  .grid-one-quarter,
  .grid-one-third,
  .grid-three-quarters,
  .grid-two-thirds {
    width: 45%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .grid-one-half,
  .grid-one-quarter,
  .grid-one-third,
  .grid-three-quarters,
  .grid-two-thirds {
    display: block;
    width: auto;
  }
}
