body {
  font: 13px/20px 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
  margin: 2em auto;
  max-width: 640px;
}

.ninjaui-examples {
  border: 1px solid #d2e0e6;
  border-top: 0 none;
  padding: 2em;
}

.ninjaui-examples-title {
  color: #0D3349;
  font-weight: bold;
  margin-bottom: 1em;
}

.ninjaui-example-icon {
  display: inline-block;
  margin-right: 1em;
  min-width: 22%;
  white-space: nowrap;
}
