body {
  background-color: #666;
  color: #333;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#qunit-filter-pass {
  margin-right: 0.5em;
}
#qunit-header {
  background-color: #666;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  color: #fff;
  text-transform: capitalize;
}

#qunit-testrunner-toolbar {
  background-color: #eee;
  color: #333;
  padding: 1em;
}

#qunit-testresult {
  background-color: #eee;
  border: none;
  color: #333;
  border-top: 1px solid #fff;
  padding: 1em;
}

#qunit-testresult .passed,
#qunit-testresult .total,
#qunit-testresult .failed {
  font-weight: bold;
}

#qunit-tests .pass {
  background-color: #eee;
  color: #333;
  border-bottom: none;
  border-top: 1px solid #fff;
}

#qunit-tests > li:last-child {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.ninjaui-samples {
  background-color: #eee;
  border-top: 1px solid #fff;
}

.ninjaui-samples-title {
  color: #333;
  font-weight: bold;
  margin: 1em;
}

.ninjaui-sample {
  border-top: 1px solid #fff;
  padding: 1em;
}

.nui-thm-dojo .ninjaui-sample {
  background-color: #333;
  color: #fff;
}
