body {
  font: 13px/20px 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
  margin: 2em auto;
  max-width: 640px;
}

#qunit-header {
  background-color: #666;
  -webkit-border-radius: 0.35em 0.35em 0 0;
  -moz-border-radius: 0.35em 0.35em 0 0;
  border-radius: 0.35em 0.35em 0 0;
  color: #fff;
  text-transform: capitalize;
}

#qunit-testrunner-toolbar {
  background-color: #eee;
  color: #333;
}

#qunit-testresult {
  background-color: #eee;
  border: none;
  color: #333;
  border-top: 1px solid #fff;
  font-size: 0.85em;
}

#qunit-testresult .passed,
#qunit-testresult .total,
#qunit-testresult .failed {
  font-weight: bold;
}

#qunit-tests .pass {
  background-color: #eee;
  color: #333;
  border-bottom: none;
  border-top: 1px solid #fff;
}

#qunit-tests > li:last-child {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.ninjaui-examples {
  background-color: #eee;
  border-top: 1px solid #fff;
  padding: 2em;
}

.ninjaui-examples-title {
  color: #333;
  font-weight: bold;
  margin-bottom: 1em;
}

.ninjaui-example {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 1em;
  margin: 0.25em 0 1em 0;
}

.ninjaui-example-icon {
  display: inline-block;
  margin-right: 1em;
  min-width: 22%;
  white-space: nowrap;
}
