body {
  font: 13px/20px 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
}

.ninjaui-examples {
  border-bottom: 1px solid #eee;
  padding: 30px;
}

.ninjaui-examples-title {
  color: #0D3349;
  font-weight: bold;
  margin-bottom: 1em;
}
