.ninjaTabs {
  @include inlineBlock;
  font-size:0;
  vertical-align:middle;
  white-space:nowrap;
  .ninjaTab {
    border-left-style:none;
    &.ninjaFirst{
      border-left-style:solid;
    }
  }
}
