/*
  Ninja Theme: Chocolate
  Copyright 2008-2011 Jamie Hoover.
  Licensed per the terms of the Apache License v2.0. See Readme.md for details.
*/

.ninjaThemeChocolate {
  color: #630;
}

.ninjaThemeChocolate .ninjaButton,
.ninjaThemeChocolate .ninjaSliderButton,
.ninjaThemeChocolate .ninjaTab {
  background-color: #fff;
  border-color: #c96;
  color: #630;
}

.ninjaThemeChocolate .ninjaDrawerTray,
.ninjaThemeChocolate .ninjaEditable {
  background-color: #fff;
  border-color: #c96;
  border-bottom-color: #fc9;
  border-top-color: #963;
}

.ninjaThemeChocolate .ninjaEditable input {
  color: #300;
}

.ninjaThemeChocolate .ninjaListSpacer {
  border-top-color: #c96;
}

.ninjaThemeChocolate .ninjaPopup {
  background-color: #fff;
}

.ninjaThemeChocolate .ninjaPopupButton {
  background-color: #fff;
  color: #930;
}

.ninjaThemeChocolate .ninjaPopupStem {
  color: #fff;
}

.ninjaThemeChocolate .ninjaSliderGroove {
  background-color: #999;
  border-color: #666;
}

.ninjaThemeChocolate .ninjaSliderLevel {
  background-color: #c63;
  border-color: #930;
}

.ninjaThemeChocolate .ninjaSpinner {
  color: #c96;
  color: rgba(204,153,102,0.5);
}

.ninjaThemeChocolate .ninjaSpinner * {
  color: #630;
}

.ninjaThemeChocolate .ninjaPopup .ninjaSpinner {
  color: #999;
}

.ninjaThemeChocolate .ninjaPopup .ninjaSpinner * {
  color: #ccc;
}

.ninjaThemeChocolate .ninjaStar {
  color: #fff;
}

.ninjaThemeChocolate .ninjaStar.ninjaStarAverage {
  color: #c96;
}

.ninjaThemeChocolate .ninjaStar.ninjaStarUser {
  color: #930;
}

.ninjaThemeChocolate .ninjaSuggest .ninjaSymbol {
  color: #999;
}

.ninjaThemeChocolate .ninjaTab {
  border-left-color: transparent;
}

.ninjaThemeChocolate .ninjaTabFirst {
  border-left-color: #aaa;
}

/* State changes, keep these last and in order! */

.ninjaThemeChocolate .ninjaSelected,
.ninjaThemeChocolate .ninjaListChoice.ninjaHovered {
  background-color: #930;
  border-color: #630;
  color: #fff
}

.ninjaThemeChocolate .ninjaHovered {
  border-color: #888;
}
