/*
  Ninja Theme: Neon
  Copyright 2008-2011 Jamie Hoover.
  Licensed per the terms of the Apache License v2.0. See Readme.md for details.
*/

.nui-neon {
  color: #0df;
}

.nui-neon .ninja-object {
  background-color: #000;
  border-color: #09c;
  color: #0df;
}

.nui-neon .ninjaDrawerTray,
.nui-neon .ninjaEditable {
  background-color: #000;
  background-color: rgba(0,0,0,0.85);
  border-color: #09c;
}

.nui-neon .ninjaEditable input {
  color: #0df;
}

.nui-neon .ninjaListSpacer {
  border-top-color: #09c;
}

.nui-neon .ninjaPopup {
  background-color: #000;
  background-color: rgba(0,0,0,0.85);
}

.nui-neon .ninjaPopupButton {
  background-color: #0df;
  color: #000;
  color: rgba(0,0,0,0.85);
}

.nui-neon .ninjaPopupStem {
  color: #000;
  color: rgba(0,0,0,0.85);
}

.nui-neon .ninjaSliderGroove {
  background-color: #000;
  border-color: #09c;
}

.nui-neon .ninjaSliderLevel {
  background-color: #0df;
  border-color: #09c;
}

.nui-neon .ninjaSpinner {
  color: #069;
}

.nui-neon .ninjaSpinner * {
  color: #09c;
}

.nui-neon .ninjaPopup .ninjaSpinner {
  color: #999;
}

.nui-neon .ninjaPopup .ninjaSpinner * {
  color: #333;
}

.nui-neon .ninjaStar {
  color: #000;
  color: rgba(0,0,0,0.85);
}

.nui-neon .ninjaStar.ninjaStarAverage {
  color: #09c;
}

.nui-neon .ninjaStar.ninjaStarUser {
  color: #0df;
}

.nui-neon .ninjaTab {
  border-left-color: transparent;
}

.nui-neon .ninjaTabFirst {
  border-left-color: #09c;
}

/* State changes, keep these last and in order! */

.nui-neon .ninjaSelected,
.nui-neon .ninjaListChoice.ninjaHovered {
  background-color: #0df;
  border-color: #09c;
  color: #000;
}

.nui-neon .ninjaHovered {
  border-color: #0df;
}
