/*
  Ninja UI Theme: Dojo
  Copyright 2008-2011 Jamie Hoover.
  Licensed per the terms of the Apache License v2.0.
  http://ninjaui.com/#license
*/
.nui-thm-dojo {
  color: #fff;
}
.nui-thm-dojo .nui-blk {
  background-color: rgba(0,0,0,0.4);
}
.nui-thm-dojo .nui-btn,
.nui-thm-dojo .nui-itm,
.nui-thm-dojo .nui-tab {
  color: #fff;
  text-shadow: 0 -1px 1px #000;
}
.nui-thm-dojo .nui-btn,
.nui-thm-dojo .nui-lst,
.nui-thm-dojo .nui-sld-btn,
.nui-thm-dojo .nui-sld-grv,
.nui-thm-dojo .nui-tab {
  background-color: #333;
  border-color: #000;
}
.nui-thm-dojo .nui-dlg,
.nui-thm-dojo .nui-inp,
.nui-thm-dojo .nui-lst,
.nui-thm-dojo .nui-hnt {
  background-color: rgba(0,0,0,0.8);
  border: none;
}
.nui-thm-dojo .nui-icn g {
  fill: #fff;
  stroke: #fff;
}
.nui-thm-dojo .nui-icn[aria-label=X] g {
  fill: #900;
}
.nui-thm-dojo .nui-icn[aria-label=X] circle {
  stroke: #fff;
}
.nui-thm-dojo .nui-icn[aria-label=X] polygon {
  fill: #fff;
}
.nui-thm-dojo .nui-inp {
  color: #fff;
}
.nui-thm-dojo .nui-itm.nui-hvr,
.nui-thm-dojo .nui-slc {
  background-color: #c00;
  border-color: #900;
}
.nui-thm-dojo .nui-itm.nui-hvr,
.nui-thm-dojo .nui-slc {
  color: #fff;
}
.nui-thm-dojo .nui-itm.nui-hvr g,
.nui-thm-dojo .nui-slc g {
  fill: #fff;
  stroke: #fff;
}
.nui-thm-dojo .nui-rul {
  border-bottom-color: #333;
  border-top-color: #000;
}
.nui-thm-dojo .nui-sld-btn.nui-slc {
  background-color: #000;
}
.nui-thm-dojo .nui-sld-lvl {
  background-color: #c00;
}
.nui-thm-dojo .nui-str g {
  fill: #999;
  stroke: #666;
}
.nui-thm-dojo .nui-str.nui-avg g {
  fill: #fff;
  stroke: #ccc;
}
.nui-thm-dojo .nui-str.nui-ind g {
  fill: #c00;
  stroke: #900;
}
.nui-thm-dojo .nui-stm g {
  fill: rgba(0,0,0,0.85);
  stroke: none;
}
.nui-thm-dojo .nui-try {
  background-color: #222;
  border-color: #111;
  border-bottom-color: #444;
  border-top-color: #000;
}
