/*
  Ninja UI Theme: Neon
  Copyright 2008-2011 Jamie Hoover.
  Licensed per the terms of the Apache License v2.0.
  http://ninjaui.com/#license
*/
.nui-thm-neon {
  color: #0df;
}

.nui-thm-neon .ninja-object {
  background-color: #000;
  border-color: #09c;
  color: #0df;
}

.nui-thm-neon .ninjaDrawerTray,
.nui-thm-neon .ninjaEditable {
  background-color: #000;
  background-color: rgba(0,0,0,0.85);
  border-color: #09c;
}

.nui-thm-neon .ninjaEditable input {
  color: #0df;
}

.nui-thm-neon .ninjaListSpacer {
  border-top-color: #09c;
}

.nui-thm-neon .ninjaPopup {
  background-color: #000;
  background-color: rgba(0,0,0,0.85);
}

.nui-thm-neon .ninjaPopupButton {
  background-color: #0df;
  color: #000;
  color: rgba(0,0,0,0.85);
}

.nui-thm-neon .ninjaPopupStem {
  color: #000;
  color: rgba(0,0,0,0.85);
}

.nui-thm-neon .ninjaSliderGroove {
  background-color: #000;
  border-color: #09c;
}

.nui-thm-neon .ninjaSliderLevel {
  background-color: #0df;
  border-color: #09c;
}

.nui-thm-neon .ninjaSpinner {
  color: #069;
}

.nui-thm-neon .ninjaSpinner * {
  color: #09c;
}

.nui-thm-neon .ninjaPopup .ninjaSpinner {
  color: #999;
}

.nui-thm-neon .ninjaPopup .ninjaSpinner * {
  color: #333;
}

.nui-thm-neon .ninjaStar {
  color: #000;
  color: rgba(0,0,0,0.85);
}

.nui-thm-neon .ninjaStar.ninjaStarAverage {
  color: #09c;
}

.nui-thm-neon .ninjaStar.ninjaStarUser {
  color: #0df;
}

.nui-thm-neon .ninjaTab {
  border-left-color: transparent;
}

.nui-thm-neon .ninjaTabFirst {
  border-left-color: #09c;
}

/* State changes, keep these last and in order! */

.nui-thm-neon .ninjaSelected,
.nui-thm-neon .ninjaListChoice.ninjaHovered {
  background-color: #0df;
  border-color: #09c;
  color: #000;
}

.nui-thm-neon .ninjaHovered {
  border-color: #0df;
}
