/*
  Ninja Theme: Dojo
  Copyright 2008-2011 Jamie Hoover.
  Licensed per the terms of the Apache License v2.0. See Readme.md for details.
*/

.ninja-theme-dojo {
  color: #fff;
}
.ninja-theme-dojo .ninja-object-blocker {
  background-color: rgba(0,0,0,0.4);
}
.ninja-theme-dojo .ninja-object-button,
.ninja-theme-dojo .ninja-object-item,
.ninja-theme-dojo .ninja-object-tab {
  color: #fff;
  text-shadow: 0 1px 0 #000;
}
.ninja-theme-dojo .ninja-object-button,
.ninja-theme-dojo .ninja-object-list,
.ninja-theme-dojo .ninja-object-slider-button,
.ninja-theme-dojo .ninja-object-slider-groove,
.ninja-theme-dojo .ninja-object-tab {
  background-color: #333;
  border-color: #000;
}
.ninja-theme-dojo .ninja-object-dialog,
.ninja-theme-dojo .ninja-object-list,
.ninja-theme-dojo .ninja-object-hint {
  background-color: rgba(0,0,0,0.8);
  border: none;
}
.ninja-theme-dojo .ninja-object-icon g {
  fill: #fff;
  stroke: #fff;
}
.ninja-theme-dojo .ninja-object-icon[aria-label=X] g {
  fill: #900;
}
.ninja-theme-dojo .ninja-object-icon[aria-label=X] circle {
  stroke: #fff;
}
.ninja-theme-dojo .ninja-object-icon[aria-label=X] polygon {
  fill: #fff;
}
.ninja-theme-dojo .ninja-object-item.ninja-state-hover,
.ninja-theme-dojo .ninja-state-select {
  background-color: #c00;
  border-color: #900;
}
.ninja-theme-dojo .ninja-object-item.ninja-state-hover,
.ninja-theme-dojo .ninja-state-select {
  color: #fff;
  text-shadow: 0 1px 0 #666;
}
.ninja-theme-dojo .ninja-object-item.ninja-state-hover g,
.ninja-theme-dojo .ninja-state-select g {
  fill: #fff;
  stroke: #fff;
}
.ninja-theme-dojo .ninja-object-rule {
  border-bottom-color: #333;
  border-top-color: #000;
}
.ninja-theme-dojo .ninja-object-slider-button.ninja-state-select {
  background-color: #000;
}
.ninja-theme-dojo .ninja-object-slider-level {
  background-color: #f00;
}
.ninja-theme-dojo .ninja-object-star g {
  fill: #eee;
  stroke: #ccc;
}
.ninja-theme-dojo .ninja-object-star.ninja-state-average g {
  fill: #c96;
  stroke: #963;
}
.ninja-theme-dojo .ninja-object-star.ninja-state-individual g {
  fill: #c00;
  stroke: #900;
}
.ninja-theme-dojo .ninja-object-stem g {
  fill: rgba(0,0,0,0.85);
  stroke: none;
}
.ninja-theme-dojo .ninja-object-tab {
  border-left-color: #333;
}
.ninja-theme-dojo .ninja-object-tab:first-child {
  border-left-color: #000;
}
.ninja-theme-dojo .ninja-object-tab:last-child {
  border-right-color: #000;
}
.ninja-theme-dojo .ninja-object-tab.ninja-state-select {
  border-left-color: #300;
  border-right-color: #300;
}
.ninja-theme-dojo .ninja-object-tab:first-child.ninja-state-select {
  border-left-color: #000;
}
.ninja-theme-dojo .ninja-object-tab:last-child.ninja-state-select {
  border-right-color: #000;
}
.ninja-theme-dojo .ninja-object-tray {
  background-color: #222;
  border-color: #111;
  border-bottom-color: #444;
  border-top-color: #000;
}
