$background-position-x: 0;
$background-position-y: -16px;
$color: white;
$color-active: gray;
$color-text: black;
$color-text-active: white;
$font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
$font-size: 12px;
$image-path: '../images';
$radius: 6px;
