@import 'variables';
@import 'mixins';

.jqf {
  display: none;
}

@import 'webjutsu/bar';
@import 'webjutsu/button';
@import 'webjutsu/drawers';
@import 'webjutsu/filmstrip';
@import 'webjutsu/folders';
@import 'webjutsu/icons';
@import 'webjutsu/menu';
@import 'webjutsu/panel';
@import 'webjutsu/rating';
@import 'webjutsu/slider';
@import 'webjutsu/tabs';
@import 'webjutsu/wait';
@import 'webjutsu/window';

.jqf-active {
  @include border($color-active);
  @include gradient-inset;
  @include text-shadow-active;
  background-color: $color-active;
  color: $color-text-active;
  &:hover {
    color: $color-text-active;
  }
}

.jqf-submit {
  @include border($color-active);
  @include text-shadow-active;
  background-color: $color-active;
  color: $color-text-active;
  &:hover {
    color: $color-text-active;
  }
}
