.nui {
  display: none; }

.nui-bar, .nui-panel .nui-bar, .nui-window-frame .nui-bar {
  background-image: url("../public/images/gradient-outset.png");
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.125));
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(0, 0, 0, 0.125)));
  background-position: bottom center;
  background-repeat: repeat-x;
  border: 1px solid #d8d8d8;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-radius-top-left: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-radius-top-right: 6px;
  -ms-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  font-size: 12px;
  background-image: url("../public/images/gradient-outset.png");
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.125));
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(0, 0, 0, 0.125)));
  background-position: bottom center;
  background-repeat: repeat-x;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-shadow: white 0 1px 1px;
  background-color: white;
  color: black;
  display: block;
  height: 26px;
  line-height: 26px;
  padding: 0 10px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap; }
  .nui-bar:focus, .nui-panel .nui-bar:focus, .nui-window-frame .nui-bar:focus {
    outline: 0; }
  .nui-bar .nui-icon, .nui-panel .nui-bar .nui-icon, .nui-window-frame .nui-bar .nui-icon {
    margin: 5px 0; }
  .nui-bar .nui-button, .nui-panel .nui-bar .nui-button, .nui-window-frame .nui-bar .nui-button {
    margin: -1px; }

.nui-button {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #d8d8d8;
  -ms-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  font-size: 12px;
  background-image: url("../public/images/gradient-outset.png");
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.125));
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(0, 0, 0, 0.125)));
  background-position: bottom center;
  background-repeat: repeat-x;
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  zoom: 1;
  text-shadow: white 0 1px 1px;
  background-color: white;
  color: black;
  cursor: pointer;
  height: 26px;
  line-height: 26px;
  outline: 0;
  overflow: visible;
  padding: 0 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  margin: 0 5px 10px 0; }
  .nui-button:active {
    background-image: url("../public/images/gradient-inset.png");
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.125), rgba(255, 255, 255, 0.25));
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.125)), to(rgba(255, 255, 255, 0.25)));
    background-position: top center;
    background-repeat: repeat-x; }
  .nui-button:focus {
    outline: 0; }
  .nui-button:hover {
    color: black;
    text-decoration: none; }
  .nui-button::-moz-focus-inner {
    border: 0;
    padding: 0; }
  .nui-button .nui-icon {
    margin: 5px 0; }

.nui-drawers {
  font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  font-size: 12px;
  display: block; }
  .nui-drawers .nui-drawer-handle {
    border: 1px solid #d8d8d8;
    -ms-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    font-size: 12px;
    background-image: url("../public/images/gradient-outset.png");
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.125));
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(0, 0, 0, 0.125)));
    background-position: bottom center;
    background-repeat: repeat-x;
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    text-shadow: white 0 1px 1px;
    background-color: white;
    color: black;
    cursor: pointer;
    height: 26px;
    line-height: 26px;
    outline: 0;
    overflow: visible;
    padding: 0 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    display: block;
    position: relative;
    text-align: left;
    z-index: 222; }
    .nui-drawers .nui-drawer-handle:active {
      background-image: url("../public/images/gradient-inset.png");
      background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.125), rgba(255, 255, 255, 0.25));
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.125)), to(rgba(255, 255, 255, 0.25)));
      background-position: top center;
      background-repeat: repeat-x; }
    .nui-drawers .nui-drawer-handle:focus {
      outline: 0; }
    .nui-drawers .nui-drawer-handle:hover {
      color: black;
      text-decoration: none; }
    .nui-drawers .nui-drawer-handle::-moz-focus-inner {
      border: 0;
      padding: 0; }
    .nui-drawers .nui-drawer-handle .nui-icon {
      margin: 5px 0; }
  .nui-drawers .nui-drawer-handle.nui-active, .nui-drawers .nui-drawer-handle.nui-active, .nui-drawers .nui-tabs .nui-drawer-handle.nui-tab.nui-active, .nui-tabs .nui-drawers .nui-drawer-handle.nui-tab.nui-active, .nui-drawers .nui-drawer-handle:active {
    background-image: url("../public/images/gradient-inset.png");
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.125), rgba(255, 255, 255, 0.25));
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.125)), to(rgba(255, 255, 255, 0.25)));
    background-position: top center;
    background-repeat: repeat-x;
    z-index: 111; }
  .nui-drawers .nui-drawer-handle.nui-first {
    -moz-border-radius-topleft: 6px;
    -webkit-border-top-left-radius: 6px;
    border-radius-top-left: 6px;
    -moz-border-radius-topright: 6px;
    -webkit-border-top-right-radius: 6px;
    border-radius-top-right: 6px; }
  .nui-drawers .nui-drawer-handle.nui-last {
    -moz-border-radius-bottomleft: 6px;
    -webkit-border-bottom-left-radius: 6px;
    border-radius-bottom-left: 6px;
    -moz-border-radius-bottomright: 6px;
    -webkit-border-bottom-right-radius: 6px;
    border-radius-bottom-right: 6px; }
  .nui-drawers .nui-drawer {
    border: 1px solid #d8d8d8;
    background: white;
    border-bottom: none;
    border-top: none;
    color: black;
    display: block;
    padding: 5px; }
  .nui-drawers .nui-drawer.nui-last {
    border: 1px solid #d8d8d8;
    -moz-border-radius-bottomleft: 6px;
    -webkit-border-bottom-left-radius: 6px;
    border-radius-bottom-left: 6px;
    -moz-border-radius-bottomright: 6px;
    -webkit-border-bottom-right-radius: 6px;
    border-radius-bottom-right: 6px;
    border-top: none; }

.nui-filmstrip {
  font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  font-size: 12px;
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin: 10px 0;
  white-space: nowrap; }
  .nui-filmstrip .nui-bar, .nui-filmstrip .nui-panel .nui-bar, .nui-panel .nui-filmstrip .nui-bar, .nui-filmstrip .nui-window-frame .nui-bar, .nui-window-frame .nui-filmstrip .nui-bar {
    padding: 0; }
    .nui-filmstrip .nui-bar .back, .nui-filmstrip .nui-panel .nui-bar .back, .nui-panel .nui-filmstrip .nui-bar .back, .nui-filmstrip .nui-window-frame .nui-bar .back, .nui-window-frame .nui-filmstrip .nui-bar .back {
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      border-radius: 0;
      -moz-border-radius-topleft: 6px;
      -webkit-border-top-left-radius: 6px;
      border-radius-top-left: 6px;
      left: 0;
      position: absolute;
      top: 0; }
    .nui-filmstrip .nui-bar .forward, .nui-filmstrip .nui-panel .nui-bar .forward, .nui-panel .nui-filmstrip .nui-bar .forward, .nui-filmstrip .nui-window-frame .nui-bar .forward, .nui-window-frame .nui-filmstrip .nui-bar .forward {
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      border-radius: 0;
      -moz-border-radius-topright: 6px;
      -webkit-border-top-right-radius: 6px;
      border-radius-top-right: 6px;
      position: absolute;
      right: 0;
      top: 0; }
  .nui-filmstrip .nui-view {
    border: 1px solid #d8d8d8;
    background-color: white;
    border-top: none;
    display: block;
    overflow: hidden;
    position: relative;
    vertical-align: middle; }
    .nui-filmstrip .nui-view .nui-reel {
      display: block;
      font-size: 0;
      left: 0;
      position: absolute;
      top: 0;
      white-space: nowrap; }
      .nui-filmstrip .nui-view .nui-reel .nui-frame {
        display: -moz-inline-box;
        display: inline-block;
        *display: inline;
        zoom: 1;
        border-right: 1px solid #d8d8d8;
        font-size: 11px;
        overflow: hidden;
        padding: 5px;
        text-align: left;
        vertical-align: top;
        white-space: normal; }

.nui-folders {
  font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  font-size: 12px;
  display: block;
  margin-top: 14px;
  position: relative; }
  .nui-folders.nui-horizontal .nui-tabs {
    display: block;
    position: absolute;
    left: 0;
    text-align: center;
    top: -15px;
    white-space: nowrap;
    width: 100%; }
    .nui-folders.nui-horizontal .nui-tabs .nui-tab {
      display: -moz-inline-box;
      display: inline-block;
      *display: inline;
      zoom: 1; }
  .nui-folders.nui-horizontal .nui-folder {
    padding: 30px 15px 15px 15px; }
  .nui-folders.nui-vertical .nui-tabs {
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    left: 0;
    position: absolute;
    top: 14px;
    width: 194px; }
    .nui-folders.nui-vertical .nui-tabs .nui-tab {
      display: block;
      text-align: left; }
      .nui-folders.nui-vertical .nui-tabs .nui-tab.nui-first {
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
        -moz-border-radius-topleft: 6px;
        -webkit-border-top-left-radius: 6px;
        border-radius-top-left: 6px;
        -moz-border-radius-topright: 6px;
        -webkit-border-top-right-radius: 6px;
        border-radius-top-right: 6px; }
      .nui-folders.nui-vertical .nui-tabs .nui-tab.nui-last {
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
        -moz-border-radius-bottomleft: 6px;
        -webkit-border-bottom-left-radius: 6px;
        border-radius-bottom-left: 6px;
        -moz-border-radius-bottomright: 6px;
        -webkit-border-bottom-right-radius: 6px;
        border-radius-bottom-right: 6px; }
  .nui-folders.nui-vertical .nui-folder {
    margin-left: 180px;
    padding: 15px 15px 15px 30px; }

.nui-folder {
  border: 1px solid #d8d8d8;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background: white;
  color: black;
  display: none;
  margin-bottom: 10px;
  width: inherit; }

.nui-icon {
  -ms-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  zoom: 1;
  background-image: url("../public/images/icons.png");
  font-size: 0;
  height: 16px;
  line-height: 16px;
  overflow: hidden;
  vertical-align: middle;
  width: 16px; }

.nui-icon-up {
  background-position: 0 0; }

.nui-icon-right {
  background-position: 0 -16px; }

.nui-icon-down {
  background-position: 0 -32px; }

.nui-icon-left {
  background-position: 0 -48px; }

.nui-icon-drag {
  background-position: 0 -64px; }

.nui-icon-close {
  background-position: 0 -80px; }

.nui-icon-check {
  background-position: 0 -96px; }

.nui-icon-subtract {
  background-position: 0 -112px; }

.nui-icon-add {
  background-position: 0 -128px; }

.nui-icon-search {
  background-position: 0 -144px; }

.nui-icon-warning {
  background-position: 0 -160px; }

.nui-icon-home {
  background-position: 0 -176px; }

.nui-icon-gear {
  background-position: 0 -192px; }

.nui-icon-apple {
  background-position: 0 -208px; }

.nui-icon-heart {
  background-position: 0 -224px; }

.nui-icon-target {
  background-position: 0 -240px; }

.nui-icon-profile {
  background-position: 0 -256px; }

.nui-icon-photo {
  background-position: 0 -272px; }

.nui-icon-print {
  background-position: 0 -288px; }

.nui-icon-radio {
  background-position: 0 -304px; }

.nui-icon-movie {
  background-position: 0 -320px; }

.nui-icon-refresh {
  background-position: 0 -336px; }

.nui-icon-people {
  background-position: 0 -352px; }

.nui-icon-mail {
  background-position: 0 -368px; }

.nui-icon-star {
  background-position: 0 -384px; }

.nui-active .nui-icon-up, .nui-drawers .nui-drawer-handle.nui-active .nui-icon-up, .nui-tabs .nui-tab.nui-active .nui-icon-up, .nui-submit .nui-icon-up, .nui-menu .nui-menu-choices .nui-menu-choice:hover .nui-icon-up {
  background-position: -16px 0; }
.nui-active .nui-icon-right, .nui-drawers .nui-drawer-handle.nui-active .nui-icon-right, .nui-tabs .nui-tab.nui-active .nui-icon-right, .nui-submit .nui-icon-right, .nui-menu .nui-menu-choices .nui-menu-choice:hover .nui-icon-right {
  background-position: -16px -16px; }
.nui-active .nui-icon-down, .nui-drawers .nui-drawer-handle.nui-active .nui-icon-down, .nui-tabs .nui-tab.nui-active .nui-icon-down, .nui-submit .nui-icon-down, .nui-menu .nui-menu-choices .nui-menu-choice:hover .nui-icon-down {
  background-position: -16px -32px; }
.nui-active .nui-icon-left, .nui-drawers .nui-drawer-handle.nui-active .nui-icon-left, .nui-tabs .nui-tab.nui-active .nui-icon-left, .nui-submit .nui-icon-left, .nui-menu .nui-menu-choices .nui-menu-choice:hover .nui-icon-left {
  background-position: -16px -48px; }
.nui-active .nui-icon-drag, .nui-drawers .nui-drawer-handle.nui-active .nui-icon-drag, .nui-tabs .nui-tab.nui-active .nui-icon-drag, .nui-submit .nui-icon-drag, .nui-menu .nui-menu-choices .nui-menu-choice:hover .nui-icon-drag {
  background-position: -16px -64px; }
.nui-active .nui-icon-close, .nui-drawers .nui-drawer-handle.nui-active .nui-icon-close, .nui-tabs .nui-tab.nui-active .nui-icon-close, .nui-submit .nui-icon-close, .nui-menu .nui-menu-choices .nui-menu-choice:hover .nui-icon-close {
  background-position: -16px -80px; }
.nui-active .nui-icon-check, .nui-drawers .nui-drawer-handle.nui-active .nui-icon-check, .nui-tabs .nui-tab.nui-active .nui-icon-check, .nui-submit .nui-icon-check, .nui-menu .nui-menu-choices .nui-menu-choice:hover .nui-icon-check {
  background-position: -16px -96px; }
.nui-active .nui-icon-subtract, .nui-drawers .nui-drawer-handle.nui-active .nui-icon-subtract, .nui-tabs .nui-tab.nui-active .nui-icon-subtract, .nui-submit .nui-icon-subtract, .nui-menu .nui-menu-choices .nui-menu-choice:hover .nui-icon-subtract {
  background-position: -16px -112px; }
.nui-active .nui-icon-add, .nui-drawers .nui-drawer-handle.nui-active .nui-icon-add, .nui-tabs .nui-tab.nui-active .nui-icon-add, .nui-submit .nui-icon-add, .nui-menu .nui-menu-choices .nui-menu-choice:hover .nui-icon-add {
  background-position: -16px -128px; }
.nui-active .nui-icon-search, .nui-drawers .nui-drawer-handle.nui-active .nui-icon-search, .nui-tabs .nui-tab.nui-active .nui-icon-search, .nui-submit .nui-icon-search, .nui-menu .nui-menu-choices .nui-menu-choice:hover .nui-icon-search {
  background-position: -16px -144px; }
.nui-active .nui-icon-warning, .nui-drawers .nui-drawer-handle.nui-active .nui-icon-warning, .nui-tabs .nui-tab.nui-active .nui-icon-warning, .nui-submit .nui-icon-warning, .nui-menu .nui-menu-choices .nui-menu-choice:hover .nui-icon-warning {
  background-position: -16px -160px; }
.nui-active .nui-icon-home, .nui-drawers .nui-drawer-handle.nui-active .nui-icon-home, .nui-tabs .nui-tab.nui-active .nui-icon-home, .nui-submit .nui-icon-home, .nui-menu .nui-menu-choices .nui-menu-choice:hover .nui-icon-home {
  background-position: -16px -176px; }
.nui-active .nui-icon-gear, .nui-drawers .nui-drawer-handle.nui-active .nui-icon-gear, .nui-tabs .nui-tab.nui-active .nui-icon-gear, .nui-submit .nui-icon-gear, .nui-menu .nui-menu-choices .nui-menu-choice:hover .nui-icon-gear {
  background-position: -16px -192px; }
.nui-active .nui-icon-apple, .nui-drawers .nui-drawer-handle.nui-active .nui-icon-apple, .nui-tabs .nui-tab.nui-active .nui-icon-apple, .nui-submit .nui-icon-apple, .nui-menu .nui-menu-choices .nui-menu-choice:hover .nui-icon-apple {
  background-position: -16px -208px; }
.nui-active .nui-icon-heart, .nui-drawers .nui-drawer-handle.nui-active .nui-icon-heart, .nui-tabs .nui-tab.nui-active .nui-icon-heart, .nui-submit .nui-icon-heart, .nui-menu .nui-menu-choices .nui-menu-choice:hover .nui-icon-heart {
  background-position: -16px -224px; }
.nui-active .nui-icon-target, .nui-drawers .nui-drawer-handle.nui-active .nui-icon-target, .nui-tabs .nui-tab.nui-active .nui-icon-target, .nui-submit .nui-icon-target, .nui-menu .nui-menu-choices .nui-menu-choice:hover .nui-icon-target {
  background-position: -16px -240px; }
.nui-active .nui-icon-profile, .nui-drawers .nui-drawer-handle.nui-active .nui-icon-profile, .nui-tabs .nui-tab.nui-active .nui-icon-profile, .nui-submit .nui-icon-profile, .nui-menu .nui-menu-choices .nui-menu-choice:hover .nui-icon-profile {
  background-position: -16px -256px; }
.nui-active .nui-icon-photo, .nui-drawers .nui-drawer-handle.nui-active .nui-icon-photo, .nui-tabs .nui-tab.nui-active .nui-icon-photo, .nui-submit .nui-icon-photo, .nui-menu .nui-menu-choices .nui-menu-choice:hover .nui-icon-photo {
  background-position: -16px -272px; }
.nui-active .nui-icon-print, .nui-drawers .nui-drawer-handle.nui-active .nui-icon-print, .nui-tabs .nui-tab.nui-active .nui-icon-print, .nui-submit .nui-icon-print, .nui-menu .nui-menu-choices .nui-menu-choice:hover .nui-icon-print {
  background-position: -16px -288px; }
.nui-active .nui-icon-radio, .nui-drawers .nui-drawer-handle.nui-active .nui-icon-radio, .nui-tabs .nui-tab.nui-active .nui-icon-radio, .nui-submit .nui-icon-radio, .nui-menu .nui-menu-choices .nui-menu-choice:hover .nui-icon-radio {
  background-position: -16px -304px; }
.nui-active .nui-icon-movie, .nui-drawers .nui-drawer-handle.nui-active .nui-icon-movie, .nui-tabs .nui-tab.nui-active .nui-icon-movie, .nui-submit .nui-icon-movie, .nui-menu .nui-menu-choices .nui-menu-choice:hover .nui-icon-movie {
  background-position: -16px -320px; }
.nui-active .nui-icon-people, .nui-drawers .nui-drawer-handle.nui-active .nui-icon-people, .nui-tabs .nui-tab.nui-active .nui-icon-people, .nui-submit .nui-icon-people, .nui-menu .nui-menu-choices .nui-menu-choice:hover .nui-icon-people {
  background-position: -16px -352px; }
.nui-active .nui-icon-mail, .nui-drawers .nui-drawer-handle.nui-active .nui-icon-mail, .nui-tabs .nui-tab.nui-active .nui-icon-mail, .nui-submit .nui-icon-mail, .nui-menu .nui-menu-choices .nui-menu-choice:hover .nui-icon-mail {
  background-position: -16px -368px; }
.nui-active .nui-icon-star, .nui-drawers .nui-drawer-handle.nui-active .nui-icon-star, .nui-tabs .nui-tab.nui-active .nui-icon-star, .nui-submit .nui-icon-star, .nui-menu .nui-menu-choices .nui-menu-choice:hover .nui-icon-star {
  background-position: -16px -384px; }

.nui-menu {
  font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  font-size: 12px;
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin: 0 5px 10px 0;
  position: relative;
  vertical-align: middle;
  z-index: 666; }
  .nui-menu .nui-button {
    margin: 0; }
  .nui-menu .nui-menu-choices {
    border: 1px solid #d8d8d8;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -moz-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
    background-color: white;
    display: none;
    left: 0;
    list-style: none;
    top: 30px;
    position: absolute;
    z-index: 777; }
    .nui-menu .nui-menu-choices .nui-menu-choice {
      border: 1px solid #d8d8d8;
      -ms-box-sizing: content-box;
      -moz-box-sizing: content-box;
      -webkit-box-sizing: content-box;
      box-sizing: content-box;
      font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
      font-size: 12px;
      background-image: url("../public/images/gradient-outset.png");
      background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.125));
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(0, 0, 0, 0.125)));
      background-position: bottom center;
      background-repeat: repeat-x;
      display: -moz-inline-box;
      display: inline-block;
      *display: inline;
      zoom: 1;
      text-shadow: white 0 1px 1px;
      background-color: white;
      color: black;
      cursor: pointer;
      height: 26px;
      line-height: 26px;
      outline: 0;
      overflow: visible;
      padding: 0 10px;
      position: relative;
      text-align: center;
      text-decoration: none;
      vertical-align: middle;
      white-space: nowrap;
      background: none;
      border-color: white;
      display: block;
      text-align: left; }
      .nui-menu .nui-menu-choices .nui-menu-choice:active {
        background-image: url("../public/images/gradient-inset.png");
        background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.125), rgba(255, 255, 255, 0.25));
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.125)), to(rgba(255, 255, 255, 0.25)));
        background-position: top center;
        background-repeat: repeat-x; }
      .nui-menu .nui-menu-choices .nui-menu-choice:focus {
        outline: 0; }
      .nui-menu .nui-menu-choices .nui-menu-choice:hover {
        color: black;
        text-decoration: none; }
      .nui-menu .nui-menu-choices .nui-menu-choice::-moz-focus-inner {
        border: 0;
        padding: 0; }
      .nui-menu .nui-menu-choices .nui-menu-choice .nui-icon {
        margin: 5px 0; }
      .nui-menu .nui-menu-choices .nui-menu-choice:first-child {
        -moz-border-radius-topleft: 6px;
        -webkit-border-top-left-radius: 6px;
        border-radius-top-left: 6px;
        -moz-border-radius-topright: 6px;
        -webkit-border-top-right-radius: 6px;
        border-radius-top-right: 6px; }
      .nui-menu .nui-menu-choices .nui-menu-choice:hover {
        background-image: url("../public/images/gradient-outset.png");
        background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.125));
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(0, 0, 0, 0.125)));
        background-position: bottom center;
        background-repeat: repeat-x; }
      .nui-menu .nui-menu-choices .nui-menu-choice:last-child {
        -moz-border-radius-bottomleft: 6px;
        -webkit-border-bottom-left-radius: 6px;
        border-radius-bottom-left: 6px;
        -moz-border-radius-bottomright: 6px;
        -webkit-border-bottom-right-radius: 6px;
        border-radius-bottom-right: 6px; }

.nui-panel {
  background-color: white;
  border: 1px solid #d8d8d8;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-radius-top-left: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-radius-top-right: 6px;
  -ms-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  font-size: 12px;
  color: black;
  display: block;
  padding: 10px;
  margin: 0 10px 10px 0; }
  .nui-panel .nui-bar, .nui-panel .nui-bar, .nui-panel .nui-window-frame .nui-bar, .nui-window-frame .nui-panel .nui-bar {
    margin: -11px -11px 10px -11px; }

.nui-rating {
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  zoom: 1;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  margin: 5px 10px 5px 0;
  text-align: center;
  vertical-align: top;
  white-space: nowrap; }

.nui-rating-label {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  margin-bottom: 5px;
  text-shadow: white 0 1px 1px; }

.nui-rating-star {
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  zoom: 1;
  background-image: url("../public/images/rating.png");
  cursor: pointer;
  height: 24px;
  width: 18px; }

.nui-rating-group {
  background-position: 0 -24px; }

.nui-rating-star:active, .nui-rating-single {
  background-position: 0 -48px; }

.nui-slider {
  font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  font-size: 12px;
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  zoom: 1;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  margin: 0 10px 10px 0;
  vertical-align: top; }
  .nui-slider .nui-slider-label {
    display: block;
    margin-bottom: 2px;
    text-align: center; }
  .nui-slider .nui-bevel {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    background-color: white;
    display: block;
    border: 1px solid lightgray;
    padding: 5px; }
    .nui-slider .nui-bevel .nui-track {
      -moz-border-radius: 6px;
      -webkit-border-radius: 6px;
      border-radius: 6px;
      background-image: url("../public/images/gradient-inset.png");
      background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.125), rgba(255, 255, 255, 0.25));
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.125)), to(rgba(255, 255, 255, 0.25)));
      background-position: top center;
      background-repeat: repeat-x;
      -moz-user-select: none;
      -webkit-user-select: none;
      user-select: none;
      background-color: white;
      display: block;
      height: 10px;
      margin: 5px 0;
      position: relative; }
      .nui-slider .nui-bevel .nui-track .nui-level {
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        background-image: url("../public/images/gradient-outset.png");
        background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.125));
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(0, 0, 0, 0.125)));
        background-position: bottom center;
        background-repeat: repeat-x;
        -moz-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        background-color: #666666;
        display: block;
        height: 8px;
        left: 1px;
        position: absolute;
        top: 1px; }
      .nui-slider .nui-bevel .nui-track .nui-button {
        height: 18px;
        margin: 0;
        padding: 0;
        position: absolute;
        top: -5px; }
    .nui-slider .nui-bevel .nui-text {
      overflow: hidden;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      white-space: nowrap;
      -moz-user-select: none;
      -webkit-user-select: none;
      user-select: none;
      display: block;
      font-size: 11px; }

.nui-tabs {
  font-size: 0;
  white-space: nowrap; }
  .nui-tabs .nui-tab {
    border: 1px solid #d8d8d8;
    -ms-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    font-size: 12px;
    background-image: url("../public/images/gradient-outset.png");
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.125));
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(0, 0, 0, 0.125)));
    background-position: bottom center;
    background-repeat: repeat-x;
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    text-shadow: white 0 1px 1px;
    background-color: white;
    color: black;
    cursor: pointer;
    height: 26px;
    line-height: 26px;
    outline: 0;
    overflow: visible;
    padding: 0 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
    margin: 0;
    position: relative; }
    .nui-tabs .nui-tab:active {
      background-image: url("../public/images/gradient-inset.png");
      background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.125), rgba(255, 255, 255, 0.25));
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.125)), to(rgba(255, 255, 255, 0.25)));
      background-position: top center;
      background-repeat: repeat-x; }
    .nui-tabs .nui-tab:focus {
      outline: 0; }
    .nui-tabs .nui-tab:hover {
      color: black;
      text-decoration: none; }
    .nui-tabs .nui-tab::-moz-focus-inner {
      border: 0;
      padding: 0; }
    .nui-tabs .nui-tab .nui-icon {
      margin: 5px 0; }
  .nui-tabs .nui-first {
    -moz-border-radius-bottomleft: 6px;
    -webkit-border-bottom-left-radius: 6px;
    border-radius-bottom-left: 6px;
    -moz-border-radius-topleft: 6px;
    -webkit-border-top-left-radius: 6px;
    border-radius-top-left: 6px; }
  .nui-tabs .nui-last {
    -moz-border-radius-bottomright: 6px;
    -webkit-border-bottom-right-radius: 6px;
    border-radius-bottom-right: 6px;
    -moz-border-radius-topright: 6px;
    -webkit-border-top-right-radius: 6px;
    border-radius-top-right: 6px; }

.nui-wait {
  background: rgba(255, 255, 255, 0.5);
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 888;
  width: 100%; }

.nui-wait-frame {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background: url("../public/images/wait.gif") 10px center no-repeat;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  display: none;
  padding: 15px 15px 15px 30px;
  position: absolute;
  text-align: center;
  z-index: 999; }

.nui-wait-reflection {
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-radius-top-left: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-radius-top-right: 6px;
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.25)), to(rgba(0, 0, 0, 0)));
  height: 30px;
  left: 0;
  position: absolute;
  bottom: -30px;
  width: 100%; }

.nui-window {
  background-color: black;
  height: 100%;
  left: 0;
  opacity: 0.75;
  position: fixed;
  top: 0;
  z-index: 888;
  width: 100%; }

.nui-window-frame {
  display: none;
  position: absolute;
  z-index: 999; }
  .nui-window-frame .nui-bar .nui-window-title, .nui-window-frame .nui-panel .nui-bar .nui-window-title, .nui-panel .nui-window-frame .nui-bar .nui-window-title, .nui-window-frame .nui-bar .nui-window-title {
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin-right: 20px; }
  .nui-window-frame .nui-bar .nui-window-close, .nui-window-frame .nui-panel .nui-bar .nui-window-close, .nui-panel .nui-window-frame .nui-bar .nui-window-close, .nui-window-frame .nui-bar .nui-window-close {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-border-radius-topright: 6px;
    -webkit-border-top-right-radius: 6px;
    border-radius-top-right: 6px;
    position: absolute;
    right: 0;
    top: 0; }
  .nui-window-frame .nui-window-content {
    font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    font-size: 12px;
    background-color: white;
    color: black;
    max-width: 800px;
    min-height: 180px;
    min-width: 360px;
    overflow: auto;
    padding: 10px; }
  .nui-window-frame .nui-window-reflection {
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0));
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0)));
    height: 30px;
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 100%; }

.nui-active, .nui-drawers .nui-drawer-handle.nui-active, .nui-tabs .nui-tab.nui-active {
  border: 1px solid #565656;
  background-image: url("../public/images/gradient-inset.png");
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.125), rgba(255, 255, 255, 0.25));
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.125)), to(rgba(255, 255, 255, 0.25)));
  background-position: top center;
  background-repeat: repeat-x;
  text-shadow: #333333 0 -1px 1px;
  background-color: #666666;
  color: white; }
  .nui-active:hover, .nui-drawers .nui-drawer-handle.nui-active:hover, .nui-tabs .nui-tab.nui-active:hover {
    color: white; }

.nui-submit, .nui-menu .nui-menu-choices .nui-menu-choice:hover {
  border: 1px solid #565656;
  text-shadow: #333333 0 -1px 1px;
  background-color: #666666;
  color: white; }
  .nui-submit:hover, .nui-menu .nui-menu-choices .nui-menu-choice:hover {
    color: white; }
