.jqf-icon {
  $size: 16px;
  @include box-sizing;
  @include inline-block;
  background-image: url("../images/icons.png");
  font-size: 0;
  height: $size;
  line-height: $size;
  overflow: hidden;
  vertical-align: middle;
  width: $size;
}
.jqf-icon-up { background-position: $background-position-x 0; }
.jqf-icon-right { background-position: $background-position-x $background-position-y; }
.jqf-icon-down { background-position: $background-position-x $background-position-y * 2; }
.jqf-icon-left { background-position: $background-position-x $background-position-y * 3; }
.jqf-icon-drag { background-position: $background-position-x $background-position-y * 4; }
.jqf-icon-close { background-position: $background-position-x $background-position-y * 5; }
.jqf-icon-check { background-position: $background-position-x $background-position-y * 6; }
.jqf-icon-subtract { background-position: $background-position-x $background-position-y * 7; }
.jqf-icon-add { background-position: $background-position-x $background-position-y * 8; }
.jqf-icon-search { background-position: $background-position-x $background-position-y * 9; }
.jqf-icon-warning { background-position: $background-position-x $background-position-y * 10; }
.jqf-icon-home { background-position: $background-position-x $background-position-y * 11; }
.jqf-icon-gear { background-position: $background-position-x $background-position-y * 12; }
.jqf-icon-apple { background-position: $background-position-x $background-position-y * 13; }
.jqf-icon-heart { background-position: $background-position-x $background-position-y * 14; }
.jqf-icon-target { background-position: $background-position-x $background-position-y * 15; }
.jqf-icon-profile { background-position: $background-position-x $background-position-y * 16; }
.jqf-icon-photo { background-position: $background-position-x $background-position-y * 17; }
.jqf-icon-print { background-position: $background-position-x $background-position-y * 18; }
.jqf-icon-radio { background-position: $background-position-x $background-position-y * 19; }
.jqf-icon-movie { background-position: $background-position-x $background-position-y * 20; }
.jqf-icon-refresh { background-position: $background-position-x $background-position-y * 21; }
.jqf-icon-people { background-position: $background-position-x $background-position-y * 22; }
.jqf-active, .jqf-submit {
  $background-position-x: -16px;
  .jqf-icon-up { background-position: $background-position-x 0; }
  .jqf-icon-right { background-position: $background-position-x $background-position-y; }
  .jqf-icon-down { background-position: $background-position-x $background-position-y * 2; }
  .jqf-icon-left { background-position: $background-position-x $background-position-y * 3; }
  .jqf-icon-drag { background-position: $background-position-x $background-position-y * 4; }
  .jqf-icon-close { background-position: $background-position-x $background-position-y * 5; }
  .jqf-icon-check { background-position: $background-position-x $background-position-y * 6; }
  .jqf-icon-subtract { background-position: $background-position-x $background-position-y * 7; }
  .jqf-icon-add { background-position: $background-position-x $background-position-y * 8; }
  .jqf-icon-search { background-position: $background-position-x $background-position-y * 9; }
  .jqf-icon-warning { background-position: $background-position-x $background-position-y * 10; }
  .jqf-icon-home { background-position: $background-position-x $background-position-y * 11; }
  .jqf-icon-gear { background-position: $background-position-x $background-position-y * 12; }
  .jqf-icon-apple { background-position: $background-position-x $background-position-y * 13; }
  .jqf-icon-heart { background-position: $background-position-x $background-position-y * 14; }
  .jqf-icon-target { background-position: $background-position-x $background-position-y * 15; }
  .jqf-icon-profile { background-position: $background-position-x $background-position-y * 16; }
  .jqf-icon-photo { background-position: $background-position-x $background-position-y * 17; }
  .jqf-icon-print { background-position: $background-position-x $background-position-y * 18; }
  .jqf-icon-radio { background-position: $background-position-x $background-position-y * 19; }
  .jqf-icon-movie { background-position: $background-position-x $background-position-y * 20; }
  .jqf-icon-people { background-position: $background-position-x $background-position-y * 22; }
}
