---
categories:
- examples
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <title>jqFace</title>
    <link href="/images/favicon.ico" rel="shortcut icon" />
    <link href="/css/jqface.css?{{ site.version }}" rel="stylesheet" type="text/css" />
    <!--[if IE]>
      <link href="/css/jqface.ie.css" rel="stylesheet" type="text/css" />
    <![endif]-->
    <link href="/css/highlight.css" rel="stylesheet" type="text/css" />
    <script src="/js/jquery.min.js" type="text/javascript"> </script>
    <script src="/js/jquery.ui.min.js" type="text/javascript"> </script>
    <script src="/js/jquery.jqf.js?{{ site.version }}" type="text/javascript"> </script>
    <style>
      * {
        font-family:'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
      }
      a {
        color:SlateGray;
      }
      img {
        border:none;
      }
    </style>
  </head>
  <body style="
    background-color:Black;
    background-image:-moz-linear-gradient(top, Black, DarkSlateGray 40%, Black 40%, Black);
    background-image:-webkit-gradient(linear, left top, left bottom, from(Black), color-stop(40%, DarkSlateGray), color-stop(40%, Black), to(Black));
    background-repeat:no-repeat;
    color:White;
    margin:20px auto;
    padding:0 20px;
  ">
    <div style="position:relative">
      <a href="/"><img src="/images/jqface.png"/></a>
      <table style="font-size:11px;position:absolute;right:0;top:0">
        <tr valign="top">
          <td>
            <a class="jqf-button jqf-submit" href="http://github.com/uipoet/jqface/downloads"><span class="jqf-icon jqf-icon-check"></span>Download v{{ site.version }}</a>
          </td>
          <td style="padding-left:20px">
            <div>Source Code</div>
            <a href="http://github.com/uipoet/jqface">http://github.com/uipoet/jqface</a>
          </td>
        </tr>
      </table>
    </div>
    <table cellpadding="0" cellspacing="0" style="width:100%">
      <tr valign="top">
        <td style="width:200px">
          {% for category in (page.categories) %}
            <h3>{{ category | capitalize }}</h3>
            {% for post in site.posts reversed %}
              {% if post.categories contains category %}
                <div style="padding:5px 0">
                <div style="width:200px"><a href="{{ post.url }}">{{ post.title }}</a></div>
                <div style="font-size:11px;width:200px">{{ post.description }}</div>
              {% endif %}
              </div>
            {% endfor %}
          {% endfor %}
        </td>
        <td>
          {% if page.title != 'home' %}
            <div style="font-size:11px;margin-bottom:20px;padding-bottom:10px">
              <a href="/">Home</a> /
              {{ page.title }}
            </div>
            <div style="
              background-color:White;
              border-radius:0.5em;
              -moz-border-radius:0.5em;
              -webkit-border-radius:0.5em;
              color:Black;
              padding:20px
            ">
              {{ content }}
            </div>
          {% else %}
            {{ content }}
          {% endif %}
          <div style="color:DarkSlateGray;font-size:11px;margin-top:20px;padding-top:10px;text-align:center">&copy; 2010 Jamie Hoover</div>
        </td>
      </tr>
    </table>
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-6364195-5");
    pageTracker._trackPageview();
    } catch(err) {}</script>
  </body>
</html>
