/*
  Copyright 2008-2011 Jamie Hoover.
  Licensed per the terms of the Apache License v2.0. See Readme.md for details.
*/
.nui-autocomplete {
  position: relative;
}
.nui-autocomplete .nui-icon[aria-label=spin] {
  position: absolute;
  right: -20px;
  top: 1px;
}
.nui-autocomplete .nui-icon[aria-label=spin] g {
  fill: #999 !important;
}
.nui-blocker {
  background-color: rgba(255,255,255,0.5);
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.nui-button,
.nui-item.nui-hover,
.nui-slider-button,
.nui-slider-level,
.nui-tab {
  background-image: -webkit-gradient(linear, left top, left bottom, colorstop(0, rgba(255,255,255,0.2)), colorstop(0.5, rgba(255,255,255,0)), colorstop(0.5, rgba(0,0,0,0)), colorstop(1, rgba(0,0,0,0.1)));
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.1) 100%);
  background-image: -moz-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.1) 100%);
  background-image: -ms-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.1) 100%);
  background-image: -o-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.1) 100%);
  background-image: linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='rgba(255,255,255,0.2)', EndColorStr='rgba(0,0,0,0.1)');
  position: relative;
}
.nui-button,
.nui-item,
.nui-tab {
  line-height: 1em;
  padding: 0.2em 1em;
  text-shadow: 0 1px 0 #fff;
}
.nui-button:hover,
.nui-item.nui-hover,
.nui-slider-button,
.nui-slider-groove,
.nui-star:hover,
.nui-tab:hover {
  cursor: pointer;
}
.nui-button,
.nui-list,
.nui-dialog,
.nui-hint,
.nui-slider-button,
.nui-slider-groove,
.nui-slider-level,
.nui-tab,
.nui-tray {
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.nui-button,
.nui-list,
.nui-dialog,
.nui-hint,
.nui-slider-button,
.nui-slider-groove,
.nui-tab,
.nui-tray {
  background-color: #eee;
  border: 1px solid #666;
}
.nui-button,
.nui-list,
.nui-dialog,
.nui-hint{
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  border-radius: 0.4em;
}
.nui-button,
.nui-item,
.nui-slider-button,
.nui-star,
.nui-tab {
  margin: 0;
  outline-width: 1px;
}
.nui-button,
.nui-tab {
  text-align: center;
}
.nui-button .nui-icon,
.nui-item .nui-icon,
.nui-tab .nui-icon {
  vertical-align: bottom;
}
.nui-dialog,
.nui-hint {
  padding: 0.6em;
}
.nui-dialog .nui-icon[aria-label=X] {
  cursor: pointer;
  position: absolute;
  right: -11px;
  top: -11px;
}
.nui-drawer .nui-button {
  display: block;
  padding-left: 0;
  text-align: left;
  width: 100%;
}
.nui-drawer .nui-button.nui-select {
  -webkit-border-radius: 0.35em 0.35em 0 0;
  -moz-border-radius: 0.35em 0.35em 0 0;
  border-radius: 0.35em 0.35em 0 0;

}
.nui-hint    {
  white-space: nowrap;
}
.nui-icon {
  display: inline-block;
  height: 1em;
  vertical-align: middle;
  width: 1em;
}
.nui-icon g {
  fill: #333;
  stroke: #000;
}
.nui-icon[aria-label=X] {
  height: 22px;
  width: 22px;
}
.nui-icon[aria-label=X] circle {
  stroke: #999;
  stroke-width: 1;
}
.nui-icon[aria-label=X] polygon {
  fill: #fff;
}
.nui-input {
  padding-right: 20px;
}
.nui-item.nui-hover,
.nui-slider-groove,
.nui-select {
  background-color: #999;
}
.nui-item.nui-hover,
.nui-select {
  color: #fff;
  text-shadow: 0 1px 0 #666;
}
.nui-item.nui-hover g,
.nui-select g {
  fill: #fff;
  stroke: #fff;
}
.nui-item {
  background: none;
  border: none;
  display: block;
  text-align: left;
  width: 100%;
}
.nui-list,
.nui-dialog,
.nui-hint    {
  background-color: rgba(255,255,255,0.85);
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 0.2em 0.4em rgba(0,0,0,0.5);
  -moz-box-shadow: 0 0.2em 0.4em rgba(0,0,0,0.5);
  -ms-box-shadow: 0 0.2em 0.4em rgba(0,0,0,0.5);
  -o-box-shadow: 0 0.2em 0.4em rgba(0,0,0,0.5);
  box-shadow: 0 0.2em 0.4em rgba(0,0,0,0.5);
  padding: 0.6em;
  position: absolute;
  z-index: +1;
}
.nui-list {
  padding: 0.6em 0;
  text-align: left;
}
.nui-rule {
  border-bottom: 1px solid #eee;
  border-top: 1px solid #ccc;
  margin: 0.4em 0;
}
.nui-slider {
  display: inline-block;
}
.nui-slider-button,
.nui-slider-groove,
.nui-slider-level {
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
.nui-slider-button {
  height: 18px;
  left: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 18px;
}
.nui-slider-button.nui-select {
  background-color: #ccc;
}
.nui-slider-groove,
.nui-slider-level {
  height: 4px;
}
.nui-slider-groove,
.nui-select {
  background-image: -webkit-gradient(linear, left top, left bottom, colorstop(0, rgba(0,0,0,0.3)), colorstop(0.5, rgba(0,0,0,0)), colorstop(0.5, rgba(255,255,255,0)), colorstop(1, rgba(255,255,255,0.1)));
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 50%, rgba(255,255,255,0) 50%, rgba(255,255,255,0.1) 100%);
  background-image: -moz-linear-gradient(top, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 50%, rgba(255,255,255,0) 50%, rgba(255,255,255,0.1) 100%);
  background-image: -ms-linear-gradient(top, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 50%, rgba(255,255,255,0) 50%, rgba(255,255,255,0.1) 100%);
  background-image: -o-linear-gradient(top, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 50%, rgba(255,255,255,0) 50%, rgba(255,255,255,0.1) 100%);
  background-image: linear-gradient(top, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 50%, rgba(255,255,255,0) 50%, rgba(255,255,255,0.1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='rgba(0,0,0,0.2)', EndColorStr='rgba(255,255,255,0.1)');
}
.nui-slider-groove {
  cursor: pointer;
  left: 9px;
  position: absolute;
  right: 9px;
  top: 5px;
}
.nui-slider-level {
  background-color: #6cf;
}
.nui-slider-title {
  font-weight: bold;
}
.nui-slider-track {
  height: 18px;
  position: relative;
}
.nui-star {
  background: none;
  border: none;
  margin-right: 1px;
  padding: 0;
}
.nui-star .nui-icon {
  height: 18px;
  width: 18px;
}
.nui-star g {
  fill: #eee;
  stroke: #ccc;
  stroke-width: 1;
}
.nui-star.nui-average g {
  fill: #6cf;
  stroke: #39c;
}
.nui-star.nui-individual g {
  fill: #c96;
  stroke: #963;
}
.nui-stem {
  display: inline-block;
  height: 8px;
  position: absolute;
  top: -8px;
  width: 8px;
}
.nui-stem g {
  fill: rgba(255,255,255,0.85);
  stroke: #ccc;
}
.nui-tabs-horizontal,
.nui-tabs-vertical {
  white-space: nowrap;
}
.nui-tabs-horizontal {
  display: inline-block;
}
.nui-tabs-vertical .nui-tab {
  display: block;
}
.nui-tab {
  border-left-color: #ccc;
}
.nui-tab:first-child {
  border-left-color: #999;
  -webkit-border-radius: 0.35em 0 0 0.35em;
  -moz-border-radius: 0.35em 0 0 0.35em;
  border-radius: 0.35em 0 0 0.35em;
}
.nui-tab:last-child {
  border-right-color: #999;
  -webkit-border-radius: 0 0.35em 0.35em 0;
  -moz-border-radius: 0 0.35em 0.35em 0;
  border-radius: 0 0.35em 0.35em 0;
}
.nui-tab.nui-select {
  border-left-color: #666;
  border-right-color: #666;
}
.nui-tab:first-child.nui-select {
  border-left-color: #999;
}
.nui-tab:last-child.nui-select {
  border-right-color: #999;
}
.nui-tray {
  border: 1px solid #ccc;
  border-bottom-color: #eee;
  -webkit-border-radius: 0 0 0.35em 0.35em;
  -moz-border-radius: 0 0 0.35em 0.35em;
  border-radius: 0 0 0.35em 0.35em;
  border-top-color: #666;
  padding: 0.2em 1em;
}
/*
  State changes, keep these last and in order!
*/
.nui-placeholder {
  color: #999;
}
.nui-disable {
  cursor: default !important;
}
