/*
  Copyright 2008-2011 Jamie Hoover.
  Licensed per the terms of the Apache License v2.0. See Readme.md for details.
*/

.ninja {
  background-color: #eee;
  background-image: url('../src/img/gradient.out.svg');
  background-repeat: no-repeat;
  border: 1px solid #999;
  color: #333;
  display: inline-block;
  font: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  padding: 0.2em 1em;
  position: relative;
  text-align: center;
  text-shadow: 0 0.125em 0 #fff;
  vertical-align: top;
  white-space: nowrap;
}
.ninja-drawer-handle {
  display: block;
  text-align: left;
}
.ninja-drawer-tray {
  padding: 0.5em;
}
.ninja-icon {
  display: inline-block;
  height: 1em;
  width: 1em;
}
.ninja-list {
  margin: 0 -0.6em;
}
.ninja-list-spacer {
  border-top: 1px solid transparent;
  margin: 0.4em 0;
  white-space: nowrap;
}
.ninja-popup {
  border-width: 0.2em;
  margin: 1em 0.5em 0.5em 0;
  padding: 0.6em;
  position: absolute;
  z-index: +1;
}
.ninja-popup-button {
  cursor: pointer;
  font-size: 1.2em;
  height: 1.2em;
  line-height: 1.2em;
  position: absolute;
  right: -0.6em;
  text-align: center;
  top: -0.6em;
  width: 1.2em;
}
.ninja-popup-stem {
  cursor: default;
  margin-left: -0.5em;
  position: absolute;
  top: -1em;
}
.ninja-shadow {
  -ms-box-shadow: 0 0.2em 0.3em #000;
  -moz-box-shadow: 0 0.2em 0.3em #000;
  -o-box-shadow: 0 0.2em 0.3em #000;
  -webkit-box-shadow: 0 0.2em 0.3em #000;
  box-shadow: 0 0.2em 0.3em #000;
}
.ninja-slider-groove {
  cursor: pointer;
  height: 0.3em;
  margin: 0 0.6em;
  top: 0.45em;
}
.ninja-slider-level {
  height: 0.3em;
  margin: 0 0.6em;
  position: absolute;
  top: 0.45em;
}
.ninja-slider-button {
  cursor: pointer;
  height: 1.2em;
  position: absolute;
  top: 0;
  width: 1.2em;
}
.ninja-slider-choice {
  font-size: 0.85em;
}
.ninja-slider-title {
  font-size: 0.85em;
  font-weight: bold;
}
.ninja-slider-track {
  height: 1.2em;
}
.ninja-suggest {
  text-align: left;
}
.ninja-suggest * {
  font-size: inherit;
}
.ninja-suggest input {
  margin-right: 1.6em;
}
.ninja-suggest .ninja-icon-clear {
  visibility: hidden;
}
.ninja-tabs-horizontal {
  display: inline-block;
  white-space: nowrap;
}
.ninja-state-selected,
.ninja-list-choice.ninja-state-hovered {
  background-color: #999;
  color: #fff;
  text-shadow: 0 0.125em 0 #666;
}
.ninja-state-selected {
  background-image: url('../src/img/gradient.in.svg');
}
.ninja-state-hovered {
  cursor: pointer;
}
.ninja-state-disabled {
  cursor: default;
}

/* Ninja Default Theme */

/*
.ninja-drawer-tray,
.ninja-editable {
  background-color: #000;
  background-color: rgba(0,0,0,0.85);
  border-color: #333;
  border-bottom-color: #666;
  border-top-color: #000;
}
.ninja-editable input {
  color: #fff;
}
.ninja-list-spacer {
  border-top-color: #666;
}
.ninja-popup {
  background-color: #000;
  background-color: rgba(0,0,0,0.85);
}
.ninja-popup-button {
  background-color: #fff;
  color: #000;
  color: rgba(0,0,0,0.9);
}
.ninja-popup-stem {
  color: #000;
  color: rgba(0,0,0,0.85);
}
.ninja-slider-groove {
  background-color: #000;
  border-color: #000;
}
.ninja-slider-level {
  background-color: #f00;
  border-color: #600;
}
.ninja-star {
  color: #666;
}
.ninja-star-average {
  color: #39c;
}
.ninja-star-user {
  color: #c00;
}
.ninja-tab {
  border-left-color: transparent;
}
.ninja-tab-first {
  border-left-color: #000;
}
/* State changes, keep these last and in order! */
/*
.ninja-state-hovered {
  border-color: #900;
}
*/
