/*
  Copyright 2008-2011 Jamie Hoover.
  Licensed per the terms of the Apache License v2.0. See Readme.md for details.
*/
.ninja-object-button,
.ninja-object-item.ninja-state-hovered {
  background-image: -webkit-gradient(linear, left top, left bottom, colorstop(0, rgba(255,255,255,0.2)), colorstop(0.5, rgba(255,255,255,0)), colorstop(0.5, rgba(0,0,0,0)), colorstop(1, rgba(0,0,0,0.1)));
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.1) 100%);
  background-image: -moz-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.1) 100%);
  background-image: -ms-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.1) 100%);
  background-image: -o-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.1) 100%);
  background-image: linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='rgba(255,255,255,0.2)', EndColorStr='rgba(0,0,0,0.1)');
}
.ninja-object-button,
.ninja-object-item {
  color: #333;
  line-height: 1.3em;
  padding: 0.2em 1em;
  text-shadow: 0 1px 0 #fff;
  white-space: nowrap;
}
.ninja-object-button,
.ninja-object-menu {
  display: inline-block;
  position: relative;
  vertical-align: top;
}
.ninja-object-button,
.ninja-object-popup {
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #eee;
  border: 1px solid #999;
  -webkit-border-radius: 0.35em;
  -moz-border-radius: 0.35em;
  border-radius: 0.35em;
}
.ninja-object-button {
  text-align: center;
}
.ninja-object-button .ninja-object-icon {
  line-height: 1.3em;
  vertical-align: bottom;
}
.ninja-object-drawer .ninja-object-button {
  display: block;
  padding-left: 0;
  text-align: left;
}
.ninja-object-drawer .ninja-object-button.ninja-state-selected {
  -webkit-border-radius: 0.35em 0.35em 0 0;
  -moz-border-radius: 0.35em 0.35em 0 0;
  border-radius: 0.35em 0.35em 0 0;

}
.ninja-object-icon {
  display: inline-block;
  height: 1.3em;
  vertical-align: middle;
  width: 1.3em;
}
.ninja-object-icon[aria-label=close] {
  cursor: pointer;
  height: 1.6em;
  line-height: 1.6em;
  width: 1.6em;
}
.ninja-object-icon g {
  fill: #333;
  stroke: #000;
}
.ninja-object-icon[aria-label=close] g {
  fill: #eee;
  stroke: #999;
}
.ninja-object-icon-symbol {
  fill: #333;
}
.ninja-object-item.ninja-state-hovered,
.ninja-state-selected {
  background-color: #999;
  color: #fff;
  text-shadow: 0 1px 0 #666;
}
.ninja-object-item.ninja-state-hovered g,
.ninja-state-selected g {
  fill: #fff;
  stroke: #fff;
}
.ninja-object-menu .ninja-object-button {
  padding-right: 0;
}
.ninja-object-menu [aria-label=menu] {
  margin-left: 1em;
}
.ninja-object-menu .ninja-object-popup {
  padding: 0.6em 0;
}
.ninja-object-popup {
  background-color: rgba(255,255,255,0.85);
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 0.2em 0.4em rgba(0,0,0,0.5);
  -moz-box-shadow: 0 0.2em 0.4em rgba(0,0,0,0.5);
  -ms-box-shadow: 0 0.2em 0.4em rgba(0,0,0,0.5);
  -o-box-shadow: 0 0.2em 0.4em rgba(0,0,0,0.5);
  box-shadow: 0 0.2em 0.4em rgba(0,0,0,0.5);
  padding: 0.6em;
  position: absolute;
  z-index: +1;
}
.ninja-object-popup .ninja-object-icon[aria-label=close] {
  position: absolute;
  right: -0.8em;
  top: -0.8em;
}
.ninja-object-rule {
  border-bottom: 1px solid #eee;
  border-top: 1px solid #ccc;
  margin: 0.4em 0;
}
.ninja-object-slider-button {
  cursor: pointer;
  height: 1.2em;
  position: absolute;
  top: 0;
  width: 1.2em;
}
.ninja-object-slider-choice {
  font-size: 0.85em;
}
.ninja-object-slider-groove {
  cursor: pointer;
  height: 0.3em;
  margin: 0 0.6em;
  top: 0.45em;
}
.ninja-object-slider-level {
  height: 0.3em;
  margin: 0 0.6em;
  position: absolute;
  top: 0.45em;
}
.ninja-object-slider-title {
  font-size: 0.85em;
  font-weight: bold;
}
.ninja-object-slider-track {
  height: 1.2em;
}
.ninja-object-suggest {
  text-align: left;
}
.ninja-object-suggest * {
  font-size: inherit;
}
.ninja-object-suggest input {
  margin-right: 1.6em;
}
.ninja-object-suggest .ninja-object-x {
  visibility: hidden;
}
.ninja-object-tabs-horizontal {
  display: inline-block;
  white-space: nowrap;
}
.ninja-object-tray {
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #eee;
  background-repeat: no-repeat;
  border: 1px solid #ccc;
  border-bottom-color: #eee;
  -webkit-border-radius: 0 0 0.35em 0.35em;
  -moz-border-radius: 0 0 0.35em 0.35em;
  border-radius: 0 0 0.35em 0.35em;
  border-top-color: #666;
  color: #333;
  padding: 0.2em 1em;
}
/* Must keep state classes in this order: selected, hovered then disabled! */
.ninja-state-selected {
  background-image: -webkit-gradient(linear, left top, left bottom, colorstop(0, rgba(0,0,0,0.3)), colorstop(0.5, rgba(0,0,0,0)), colorstop(0.5, rgba(255,255,255,0)), colorstop(1, rgba(255,255,255,0.1)));
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 50%, rgba(255,255,255,0) 50%, rgba(255,255,255,0.1) 100%);
  background-image: -moz-linear-gradient(top, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 50%, rgba(255,255,255,0) 50%, rgba(255,255,255,0.1) 100%);
  background-image: -ms-linear-gradient(top, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 50%, rgba(255,255,255,0) 50%, rgba(255,255,255,0.1) 100%);
  background-image: -o-linear-gradient(top, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 50%, rgba(255,255,255,0) 50%, rgba(255,255,255,0.1) 100%);
  background-image: linear-gradient(top, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 50%, rgba(255,255,255,0) 50%, rgba(255,255,255,0.1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='rgba(0,0,0,0.2)', EndColorStr='rgba(255,255,255,0.1)');
}
.ninja-state-hovered {
  cursor: pointer;
}
.ninja-state-disabled {
  cursor: default;
}

/* Ninja Default Theme */

/*
.ninja-editable input {
  color: #fff;
}
.ninja-slider-groove {
  background-color: #000;
  border-color: #000;
}
.ninja-slider-level {
  background-color: #f00;
  border-color: #600;
}
.ninja-star {
  color: #666;
}
.ninja-star-average {
  color: #39c;
}
.ninja-star-user {
  color: #c00;
}
.ninja-tab {
  border-left-color: transparent;
}
.ninja-tab-first {
  border-left-color: #000;
}
/* State changes, keep these last and in order! */
/*
.ninja-state-hovered {
  border-color: #900;
}
*/
