.jqf-filmstrip {
  @include font;
  @include inline-block;
  margin: 10px 0;
  white-space: nowrap;
  .jqf-bar {
    @extend jqf-bar;
    .back {
      @include border-radius(0);
      @include border-radius-top-left;
      left: 0;
      position: absolute;
      top: 0;
    }
    .forward {
      @include border-radius(0);
      @include border-radius-top-right;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  .jqf-view {
    @include border($color);
    background-color: $color;
    border-top: none;
    display: block;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    .jqf-reel {
      display: block;
      font-size: 0;
      left: 0;
      position: absolute;
      top: 0;
      white-space: nowrap;
      .jqf-frame {
        @include inline-block;
        border-right: 1px solid $color * 0.85;
        font-size: 11px;
        overflow: hidden;
        padding: 5px;
        text-align: left;
        vertical-align: top;
        white-space: normal;
      }
    }
  }
}
